<%# locals: (help_pages:) -%>

<aside id="sidebar">
  <h1>Help Index</h1>
  <div style="width:240px">
    <ul class="link-page">
      <% help_pages.each do |page| %>
        <% if params[:name] == page.name %>
          <li id="active">» <%= page.pretty_title %></li>
        <% else %>
          <li><%= link_to "» #{page.pretty_title}", help_page_path(id: page.name) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</aside>
