<div id="c-help">
  <div id="a-show">
    <%= render partial: "sidebar" %>
    <section id="content">
      <div style="margin-bottom: 1em;">
        <h1><%= "Help: #{HelpPage.title(@help.name)}" %></h1>
        <div class="styled-dtext">
          <%= format_text(@wiki_page.body, allow_color: true) %>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render partial: "secondary_links" %>
