<template id="related-tags">
  <div class="related-tags flex-wrap">
    <div class="related-section" v-for="group in tagGroups" :key="group.title">
      <div class="related-items" v-for="tags, i in splitTags(group.tags)" :key="i">
        <div class="related-title" v-if="i === 0">{{group.title}}</div>
        <div class="related-item" v-for="tag in tags" :key="tag[0]">
          <a :class="tagClasses(tag)" :href="tagLink(tag)" @click.prevent="toggle(tag)">{{tag[0]}}</a>
        </div>
      </div>
    </div>
  </div>
</template>