<template id="tag-preview">
  <div>
    <div v-show="loading">Fetching tags...</div>
    <div class="related-tags flex-wrap">
      <div class="related-items" v-for="sTags, i in splitTags" :key="i">
        <tag-preview v-for="tag, $idx in sTags" :key="$idx" :tag="tag"></tag-preview>
      </div>
    </div>
    <div>
      <a href="#" @click.prevent="close">Close Preview</a>
    </div>
  </div>
</template>