div#c-popular {
  header {
    text-align: center;

    h1 {
      font-size: 3em;
    }

    p.byline {
      font-size: 1.2em;
      font-style: italic;
    }
  }

  div.posts {
    padding: 1em;
    margin-bottom: 2em;
  }

  a.desc {
    font-weight: bold;
    margin: 0 0.5em;
  }

  #popular-nav-links {
    text-align: center;
  }

  .period {
    margin: 0 4.75em;
  }
}
