<div id="c-artist-versions">
  <div id="a-index">
    <h1>Artist History</h1>

    <%= render "search" %>
    <%= render "standard_listing" %>
    <%= render PaginatorComponent.new(records: @artist_versions) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Artist Versions
<% end %>
