<div id="c-artist-versions">
  <div id="a-search">
    <h1>Search Changes</h1>

    <%= render "search" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Artist Changes
<% end %>
