<section
  class="blacklist-ui blacklist-inline"
  filters="0"
  collapsed="true"
>
  <div class="blacklist-header">Blacklisted <span class="blacklisted-count"></span></div>
  <div class="blacklist-filters"></div>
  <span class="blacklist-footer">
    <a class="blacklist-toggle-all"></a>
    <div class="blacklist-help"><%= link_to "(help)", help_page_path(id: "blacklist") %></div>
  </span>
</section>
