<section id="blacklist-box" class="inline-blacklist">
  <strong id="blacklist-collapse" class="hidden">Blacklisted<span id="blacklisted-count"></span>: </strong>
  <ul id="blacklist-list" style="display: none;">
  </ul>
  <span id="disable-all-blacklists" style="display: none;"><span class="link">Disable all</span></span>
  <span id="re-enable-all-blacklists" style="display: none;"><span class="link">Re-enable all</span></span>
</section>
