<form class="simple_form" id="note-editor" data-title="Edit Note" data-width="350" data-position="bottom right">
  <div class="input note-editor-inputs">
    <textarea id="note-editor-input" rows="6" placeholder="Enter note content here..."></textarea>
    <div class="note-editor-help">
      <span class="hint">All text is formatted using <a href="/help/dtext" target="_blank" rel="noopener" tabindex="-1">DText</a></span>
      <span class="hint"><a href="/wiki_pages/e621:notes">Note Help</a></span>
    </div>
  </div>

  <div class="input note-editor-submit">
    <button type="submit" class="st-button submit">Submit</button>
    <button type="button" class="st-button" name="note-cancel">Cancel</button>
    <button type="button" class="st-button" name="note-delete">Delete</button>
    <button type="button" class="st-button" name="note-history">History</button>
  </div>
</form>
