<div id="c-notes">
  <div id="a-search">
    <h1>Search Notes</h1>

    <%= render "search" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Notes
<% end %>
