<% if tag_change_request.forum_topic_id %>
  <li><strong>Reference</strong>
    <% if tag_change_request.forum_post_id %>
      <%= link_to "forum ##{tag_change_request.forum_post_id}", forum_topic_path(tag_change_request.forum_topic_id, page: tag_change_request.forum_post.forum_topic_page, anchor: "forum_post_#{tag_change_request.forum_post_id}") %>
    <% else %>
      <%= link_to "topic ##{tag_change_request.forum_topic_id}", forum_topic_path(tag_change_request.forum_topic_id) %>
    <% end %>
  </li>
<% end %>
