<div class="nav-block pool-nav">
  <ul>
    <% pools.each do |pool| %>
      <%= render "posts/partials/show/content/nav_links/pool_list_item", pool: pool, post: post, selected: is_pool_selected?(pool) %>
    <% end %>
  </ul>
</div>
