<span class="tag-relationship" data-relationship-route="<%= tag_relation.model_name.route_key %>"
                               data-relationship-human="<%= tag_relation.model_name.singular.titleize %>"
                               data-relationship-id="<%= tag_relation.id %>">
  <% links = [] %>
  <% if with_show_link %>
    <% links.push link_to("Show", action: "show", controller: "/#{tag_relation.model_name.route_key}", id: tag_relation.id) %>
  <% end %>
  <% if tag_relation.approvable_by?(CurrentUser.user) %>
    <% links.push link_to("Approve", "#", class: "tag-relationship-accept") %>
  <% end %>
  <% if tag_relation.deletable_by?(CurrentUser.user) %>
    <% links.push link_to("Reject", "#", class: "tag-relationship-reject") %>
  <% end %>
  <% if tag_relation.editable_by?(CurrentUser.user) %>
    <% links.push link_to("Edit", action: "edit", controller: "/#{tag_relation.model_name.route_key}", id: tag_relation.id) %>
    <% links.push link_to("Flip", send("#{tag_relation.model_name.route_key.singularize}_path", id: tag_relation.id, "#{tag_relation.model_name.route_key.singularize}": { antecedent_name: tag_relation.consequent_name, consequent_name: tag_relation.antecedent_name }), method: :patch) %>
  <% end %>
  <%= safe_join(links, " | ") %>
</span>
