# The settings here, if defined, override the settings in config/database.yml,
# config/unicorn/unicorn.rb, config/danbooru_local_config.rb, and
# ~/.danbooru/{secret_token,session_secret_key}.
#
# `.env.$RAILS_ENV` takes precedence over .env, and .env.local takes
# precedence over .env and `.env.$RAILS_ENV`.
#
# In other words: put your shared config in .env.local, and your put
# environment-specific config in .env.development / .env.production / .env.test.

#
# Rails
#

# These take precedence over ~/.danbooru/{secret_token,session_secret_key}.
# export SECRET_TOKEN=
# export SESSION_SECRET_KEY=

# Override the normal Gemfile with another file.
# export BUNDLE_GEMFILE=

# Logs a stacktrace for each SQL query.
# export QUERY_TRACE=

#
# Danbooru
#

# These take precedence over config/danbooru_local_config.rb. Any setting in
# danbooru_default_config.rb can be defined here by prefixing it with `DANBOORU_`.

# export DANBOORU_APP_NAME=
# export DANBOORU_VERSION=
# export DANBOORU_HOSTNAME=

#
# Development Only
#

#
# When wanting to run as the non-root user, you must set these variables to
# avoid file permission errors. If not set the container will default
# to the root user. Use `id -u` to print the UID and `id -g` for the GID.
#
# HOST_UID=
# HOST_GID=
# DOCKER_USER=e621ng

# discord: Starts the discord integration to join users to a discord server.
#          The application must have its OAuth2 redirect URI set to ${JOINER_BASE_URL}/callback.
#          You also need to fill out all the JOINER_* environment variables below.
#
# datadog: Start the datadog agent to push performance metrics through ddtrace.
#          You also need to fill out the DD_API_KEY environment variables below.
# COMPOSE_PROFILES=discord,datadog

# Change the ports that are forwarded by docker to avoid potential conflicts

# EXPOSED_SERVER_PORT=3000
# EXPOSED_POSTGRES_PORT=34517

# The following environment variables are required when using the 'discord' profile:

# JOINER_BOT_TOKEN=
# JOINER_OAUTH2_CLIENT_ID=
# JOINER_OAUTH2_CLIENT_SECRET=
# JOINER_GUILD_ID=
# JOINER_FAILED_JOIN_WEBHOOK_URL=

# The following environment variables are used when using the 'datadog' profile:

# Required:
# DD_API_KEY=
# DD_ENABLE=true
#
# Optional:
# DD_SITE=us5.datadoghq.com
# DD_SERVICE=E6ng (Dev)
# DD_ENV=local
