.env
.env.production
.bundle
.yardoc
config/danbooru_local_config.rb
config/deploy/*.rb
config/application.yml
doc/*
log/*.log
tmp/*
public/data
public/assets
vendor/cache/*.gem
.DS_Store
coverage
*~
*.swp
tmp/*.jpg
tmp/*.png
.gitconfig
test/reports

.idea

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
