<details id="description" <%= "open" unless CurrentUser.description_collapsed_initially? %>>
  <summary>Description</summary>
  <div>
    <%= format_text(@post.description, max_thumbs: 0, allow_color: true) %>
  </div>
</details>
