<%= render layout: "show" do %>
  <% if @artist.visible? %>
    <div>
      <%= render "summary", artist: @artist %>
    </div>
  <% else %>
    <p>The artist requested removal of this page.</p>
  <% end %>
<% end %>

<% render(partial: "static/embed", locals: { record: @artist, name: @artist.pretty_name, description: @artist.notes.present? ? strip_tags(format_text(@artist.notes)).truncate(200) : "" }) %>
