<h3>Similar Posts</h3>
<section class="posts-container default-size">
  <% if @matches.empty? %>
    <p class="no-results">No similar posts found.</p>
  <% else %>
    <% @matches.each do |match| %>
      <%= render(PostThumbnailComponent.new(post: match["post"], show_deleted: true, similarity: match["score"])) %>
    <% end %>
  <% end %>
</section>
