// Common
@import "common/common";

// Main themes
@import "index/index";
@include window-larger-than(50rem) {
  @import "index/index.desktop";
}

@import "show/show";

// Features
@import "index/partials/mode_menu";
@import "index/partials/wiki_excerpt";
@import "index/partials/stats";
@import "index/partials/settings";

@include window-larger-than(50rem) {
  @include with-setting("fullscreen", "true") {
    @import "index/partials/fullscreen";
  }
  @include with-setting("stickysearch", "true") {
    @import "index/partials/sticky";
  }
}
