<div id="p-index-by-comment" class="comments-for-post">
    <% @comments.each do |comment| %>
      <% if comment.post.present? && comment.should_see?(CurrentUser.user) %>
      <div class="comment-post">
        <div class="post-container">
          <%= render(PostThumbnailComponent.new(post: comment.post, show_deleted: true)) %>
        </div>
        <div class="comments list-of-comments">
          <%= render "comments/partials/show/comment", comment: comment, post: nil %>
        </div>
      </div>
      <% end %>
    <% end %>
</div>

<%= numbered_paginator(@comments) %>
