<div id="p-index-by-post" class="comments-for-post">
  
  <% if @posts.empty? %>
    <%= render "posts/blank" %>
  <% end %>

  <% @posts.select {|x| x.visible?}.each do |post| %>
    <% if post.comments.visible(CurrentUser.user).exists? %>
      <div class="comment-post">
        <div class="post-container">
          <%= PostPresenter.preview(post, inline: true, show_deleted: true) %>
        </div>
        <div class="comments-list">
          <%= render partial: "comments/partials/show/comment", collection: post.comments.visible(CurrentUser.user).recent, locals: { post: post } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= numbered_paginator(@posts) %>
