<div id="p-index-by-comment" class="comments-for-post">
    <% @comments.each do |comment| %>
      <% if comment.post.present? && (CurrentUser.is_moderator? || (params[:search] && params[:search][:is_hidden] =~ /t/) || !comment.is_hidden?) %>
      <div class="comment-post">
        <div class="post-container">
        <%= content_tag(:div, { id: "post_#{comment.post.id}", class: ["post", *PostPresenter.preview_class(comment.post)].join(" ") }.merge(PostPresenter.data_attributes(comment.post))) do %>
          <div class="preview">
            <% if comment.post.visible? %>
              <%= link_to(image_tag(comment.post.preview_file_url), post_path(comment.post)) %>
            <% end %>
          </div>
        <% end %>
        </div>
        <div class="comments">
          <%= render :partial => "comments/partials/show/comment", :collection => [comment] %>
        </div>
      </div>
      <% end %>
    <% end %>
</div>

<%= numbered_paginator(@comments) %>

<% content_for(:html_header, auto_discovery_link_tag(:atom, comments_url(format: "atom"), title: "Comments")) %>
