<div id="c-comments">
  <div id="a-show">
    <%= PostPresenter.preview(@comment.post, inline: true, show_deleted: true) %>
    <div class="comments-for-post">
      <div class="list-of-comments">
        <%= render "comments/partials/show/comment", comment: @comment, post: nil %>
      </div>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Comment
<% end %>

<% render(partial: "static/embed", locals: { record: @comment, name: "Comment by #{@comment.creator.pretty_name}", description: strip_tags(format_text(@comment.body)).truncate(200) }) %>
