<div id="c-comments">
  <div id="a-show">
    <% if @comment.post %>
      <%= content_tag(:div, { id: "post_#{@comment.post_id}", class: ["post", *PostPresenter.preview_class(@comment.post)].join(" ") }.merge(PostPresenter.data_attributes(@comment.post))) do %>
        <div class="preview">
          <% if @comment.post.visible? %>
            <%= link_to(image_tag(@comment.post.preview_file_url), post_path(@comment.post)) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="comments-for-post">
      <div class="list-of-comments">
        <%= render "comments/partials/show/comment", comment: @comment, post: nil %>
      </div>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Comment
<% end %>
