<div id="c-upload-whitelist">
  <div id="a-edit">
    <h1>Upload Whitelist</h1>

    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Upload Whitelist
<% end %>
