<div id="c-upload-whitelist">
  <div id="a-new">
    <h1>New Upload Whitelist</h1>

    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Upload Whitelist
<% end %>
