<table class="striped">
  <caption>Comment Activity</caption>
  <thead>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th>Votes</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.comments.each do |activity| %>
      <tr>
        <td>
          <%= link_to activity.comment.body, post_path(activity.comment.post_id) %>
          <% if activity.comment.is_hidden? %>
            <span class="inactive">(hidden)</span>
          <% end %>
        </td>
        <td><%= link_to_user(activity.comment.creator) %></td>
        <td><%= activity.count %></td>
        <td><%= activity.comment.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
