#c-staff-wikis #a-show {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 0.5rem;

  .involved-users {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    --thumb-image-size: 4rem;

    width: 10rem;
    background: themed("color-section");
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: max-content;
  }

  .profile-card {
    background: themed("color-section");
    max-width: max-content;
    padding: 0.5rem;
    @include st-radius;
    box-shadow: 0 0 0.5rem -0.25rem themed("color-section-lighten-5");
  }

  #staff-wiki-body {
    margin-top: 0.5rem;
    background: themed("color-section");
    @include st-radius;
    padding: 0.5rem;
  }
}
