<% content_for(:secondary_links) do %>
  <li><%= render "quick_search" %></li>
  <%= subnav_link_to "List", blips_path %>
  <% if CurrentUser.user.is_member? %>
    <%= subnav_link_to "New", new_blip_path %>
  <% end %>
  <% unless @blip&.response_to.nil? %>
    <li class="divider"></li>
    <%= subnav_link_to "Parent", blip_path(@blip.response_to) %>
  <% end %>
<% end %>
