<div id="c-blips">
  <div id="a-edit">
    <%= render "form", blip: @blip %>
  </div>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Blip #<%= @blip.id %>
<% end %>
