<div id="c-blips">
  <div id="a-new">
    <h2>New blip</h2>

    <%= render "form", blip: Blip.new %>
  </div>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  New Blip
<% end %>
