<div id="c-staff-wikis">
  <div id="a-new">
    <h1>New Staff Wiki Page</h1>
    <%= render "form" %>
  </div>
</div>

<% content_for(:page_title) do %>
  New Staff Wiki Page
<% end %>

<%= render "secondary_links" %>
