@import "../base/000_vars.scss";

body {
  background-color: $background_color;
  color: $text_color;
  font-family: $base_font_family;
  font-size: 87.5%;
  line-height: 1.25em;
}

abbr[title=required] {
  display: none;
}

blockquote {
  margin: 0 0 1em 0;
  padding: 1em 1em 0.2em;
  border: 1px solid $blockquote_border_color;
  background: $blockquote_background_color;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

dd {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: $h1_size;
}

h2 {
  font-size: $h2_size;
}

h3 {
  font-size: $h3_size;
}

h4, h5, h6 {
  font-size: $h4_size;
}

fieldset {
  margin-bottom: 1em;
}

header {
  margin: 0 0 1em 0;
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

menu {
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0 0.2em;
    list-style-type: none;
    display: inline;
  }
}

p {
  margin-bottom: 1em;
}

table tfoot {
  margin-top: 2em;
}

.hint {
  color: $hint_color;
  font-style: italic;
  max-width: 70%;
}

.tn {
  font-size: 0.8em;
  color: gray;
}

p.info {
  color: $info_color;
  font-style: italic;
  font-size: 80%;
}


#page {
  background-color: $content_background_color;
}

#top, #page-footer {
  background-color: $background_color;
}

.greentext, .greentext a, .approved-ticket { color:#3e9e49 !important; font-weight:bold; }
.greytext, .greytext a { color:#959595 !important; font-weight:bold; }
.yellowtext, .yellowtext a, .partial-ticket { color:#e4e150 !important; font-weight:bold; }
.redtext, .redtext a, .denied-ticket { color:#e45f5f !important; font-weight:bold; }


.sect_green { background-color:#288233; /* green */ }
.sect_red { background-color:#822828; /* red */ }
.sect_yellow { background-color:#828028; /* yellow */ }
.sect_grey { background-color:#5d656e; /* yellow */ }
.sect_green a:hover, .sect_red a:hover, .sect_yellow a:hover { color:white; }
