body {
  @include themable($apply_to_self: true) {
    color: themed("color-text");
    background-color: themed("color-background");
    background-image: themed("image-background");
  }
  font-family: $base_font_family;
  font-size: $font-size;
  line-height: 1.25em;
  margin: 0 auto;
}

abbr[title=required] {
  display: none;
}

blockquote {
  background: $blockquote-background;
  border: 1px solid $blockquote-border;
  border-radius: $border-radius-half;
  margin: 0 0 1rem 0;
  padding: 1rem 1rem 0.2rem;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

dd {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base_font_family;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4, h5, h6 {
  font-size: $h4-size;
}

fieldset {
  margin-bottom: 1em;
}

header {
  margin: 0 0 $padding-050 0;
  padding: 0;
}

img {
  border: none;
  vertical-align: middle;
}

menu {
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0 0.2em;
    list-style-type: none;
    display: inline;
  }
}

p {
  margin-bottom: 1em;
}

table tfoot {
  margin-top: 2em;
}

.hint {
  color: $hint-color;
  font-style: italic;
  max-width: 70%;
}

.tn {
  font-size: 0.8em;
  color: $translation-note-color;
}

p.info {
  color: $info-color;
  font-style: italic;
  font-size: 80%;
}

.greentext, .greentext a, .approved-ticket { color: $green-text-color !important; font-weight:bold; }
.greytext, .greytext a { color: $grey-text-color !important; font-weight:bold; }
.yellowtext, .yellowtext a, .partial-ticket { color: $yellow-text-color !important; font-weight:bold; }
.redtext, .redtext a, .denied-ticket { color: $red-text-color !important; font-weight:bold; }


.sect_green { background-color: $section-green-background; /* green */ }
.sect_red { background-color: $section-red-background; /* red */ }
.sect_yellow { background-color: $section-yellow-background; /* yellow */ }
.sect_grey { background-color: $section-grey-background; /* yellow */ }
.sect_green a:hover, .sect_red a:hover, .sect_yellow a:hover { color: $section-link-hover-color; }
