// Font
$text-color: #fff;
$inverted-text-color: invert($text-color);
$translation-note-color: gray;
$green-text-color: #3e9e49;
$yellow-text-color: #e4e150;
$red-text-color: #e45f5f;
$grey-text-color: #959595;


$section-green-background: #288233;
$section-yellow-background: #828028;
$section-red-background: #822828;
$section-grey-background: #5d656e;
$section-link-hover-color: white;

// Main background colors
$main-background: #031131;
$menu-background: #152F56;
$content-background: #152f56;
$lighten-background-5: rgba(255,255,255,0.05);
$box-shadow-color: #07162D;
$darken-background-20: rgba(0,0,0,0.2);
$darken-background-50: rgba(0,0,0,0.5);

// Links
$link-color: #b4c7d9;
$link-hover-color: #2e76b4;
$link-last-page-color: #3e9e49;
$highlight-color: lighten($link-color, 45%);

// Sections
$section-background: #284a81;

// Mixin/state colors
$state-warning-color: #ffd700;
$state-notice-color: saturate($section-background, 20%);
$state-success-color: #3e9e49;
$state-error-color: #e45f5f;


$blockquote-background: #284A81;
$blockquote-border: #174891;
$blockquote-shadow: #07162D;

$hint-color: #AAA;
$info-color: #AAA;

// DText
$dtext-expandable-background: $section-background;
$dtext-expandable-shadow: #07162d;
$dtext-code-background: rgba(255,255,255,0.2);

// Blips
$blip-background: $lighten-background-5;
$blip-hidden-background: $section-red-background;
$blip-shadow: #07162d;

// Navigation
$navigation-background: $section-background;
$navigation-border: border_color($section-background);

// Tables
$table-stripe-even-background: #204274;
$table-stripe-highlight-background: darken($table-stripe-even-background, 10%);
$table-stripe-border: #255193;
$table-stripe-header-text-color: darken($text-color, 10%);

// Forms
$form-date-background: white; // TODO: Remove?
$form-focus-color: black;
$form-focus-background: #FFC;
$form-disabled-background: #DDD;
$button-background: white;
$button-hover-background: darken($button-background, 10%);
$form-submit-button-background: #eee;
$form-shadow: #07162d;

// Search Box
$search-box-background: $link-color;
$search-box-border: $link-color;
$search-box-color: #fff;
$search-box-hover-border: $link-hover-color;
$search-box-hover-background: $link-hover-color;

// Page Header
$page-header-sign-in-link-color: #e00;

// Post previews
$preview-has-children-color: #0F0;
$preview-has-parent-color: #CC0;
$preview-deleted-color: #000;
$preview-pending-color: #00F;
$preview-flagged-color: #F00;
$preview-sample-warning-color:  hsl(0,  100%, 90%); // light red
$preview-quality-warning-color: hsl(50, 100%, 90%); // light yellow

$note-highlight-color: $preview-pending-color;

// Autocomplete
$autocomplete-active-background: darken($section-grey-background, 25%);
$autocomplete-border: #C5C5C5;
$autocomplete-arrow-color: black;

// Paginator
$paginator-more-color: grey;
$paginator-arrow-hover-color: $link-hover-color;
$paginator-arrow-hover-background: white;
$paginator-hover-color: white;
$paginator-hover-background: $link-hover-color;

// Spoilers
$spoiler-color: black;
$spoiler-background: black;
$spoiler-link-color: black;
$spoiler-hover-color: white;
$spoiler-link-hover-color: white;

// User Ranks
$rank-admin-color: darken(orange, 5%);
$rank-moderator-color: darken(orange, 5%);
$rank-janitor-color: darken(red, 15%);
$rank-blocked-color: black;

// Tag types
$tag-selected-color: white;
$tag-banned-color: black;
$tag-banned-background: red;

// News
$news-background: $state-notice-color;
$news-border: border_color($state-notice-color);


// Diffs (wiki/post versions)
$diff-added-color: green;
$diff-added-obsolete-color: darkGreen;
$diff-removed-color: red;
$diff-removed-obsolete-color: darkRed;

// Notices
$error-notice-color: #a00;
$notice-background: $state-notice-color;
$notice-border: border_color($state-notice-color);

$grey-color: hsl(0, 0%, 90%); // Light grey
//$error_color: hsl(0, 100%, 95%); // light red
//$success_color: hsl(120, 100%, 95%); // light green

$red-color: #e45f5f;
$green-color: #3e9e49;
$dark-grey-color: hsl(0, 0%, 50%);

$hr-color: rgba(255,255,255,0.25);

// User Feedback page
$neutral-record-background: #666;
$positive-record-background: green;
$negative-record-background: #822828;
$positive-record-color: $green-color;
$negative-record-color: $red-color;
$neutral-record-color: $dark-grey-color;

// Icon overlays
$preview-icon-color: white;
$preview-icon-bg: rgba(0,0,0,0.5);

// Posts page
$notice-parent-background: $section-background;
$notice-parent-border: border_color($notice-parent-background);
$notice-child-background: $section-background;
$notice-child-border: border_color($notice-child-background);
$notice-deleted-background: darken($state-error-color, 40%);
$notice-deleted-border: border_color($notice-deleted-background);
$notice-pending-background: $section-background;
$notice-pending-border: border_color($notice-pending-background);

$comment-list-background: none;
$comment-background: $lighten-background-5;
$comment-author-background: $lighten-background-5;
$comment-sticky-background: saturate($section-background, 10%);
$comment-hidden-background: $section-red-background;
$comment-vote-background: rgba(255, 255, 255, 0.2);
$comment-post-background: $section-background;

// Inline?
$inline-link-color: $link-color;
$inline-count-color: #ccc;
$keyboard-key-background: #333;
$keyboard-key-color: white;
$keyboard-key-border: #333;
$inline-inactive-color: #aaa;
$inline-last-page-color: #666;

// JQUI
$widget-link-color: $link-color;
$widget-link-hover-color: $link-hover-color;
$widget-highlight-border: border_color($state-notice-color);
$widget-highlight-background: $state-notice-color;
$widget-highlight-color: $text-color;
$widget-highlight-link-hover-color: $link-hover-color;
$widget-highlight-link-color: $link-color;
$widget-error-border: border_color($state-error-color);
$widget-error-background: $state-error-color;
$widget-button-color: $inverted-text-color;
$widget-button-background: $button-background;
$widget-button-border: silver;
$widget-button-hover-background: $button-hover-background;
$widget-button-shadow: grey;
$widget-border: border_color($section-background);
$widget-color: $text-color;
$widget-background: $section-background;
$widget-header-background: $main-background;
$widget-header-color: $text-color;

// Bans
$ban-expired-background: $state-success-color;
$ban-expired-hover-background: darken($state-success-color, 5%);
$ban-background: $state-error-color;
$ban-hover-background: darken($state-error-color, 5%);

// Artists
$artist-new-artist-color: #A00;

// BURs(Mairos)
$bur-approved-color: green;
$bur-rejected-color: red;

// DMails
$dmail-preview-border: #CCC;

// Forum
$forum-post-background: $section-background;
$forum-post-even-background: $table-stripe-even-background;
$forum-post-highlight-background: rgba(255,255,255,0.25);
$forum-vote-up-color: green;
$forum-vote-down-color: red;
$forum-vote-meh-color: goldenrod;
$forum-topic-info-color: #AAA;
$forum-topic-new-color: red;
$forum-topic-locked-color: gray;
$forum-topic-leveled-color: #f66;
$forum-topic-except-color: gray;
//$forum-topic-hidden-background: $section-red-background;
$forum-topic-hidden-background: rgba(130,40,40,0.75);
$forum-post-hidden-background: rgba(130,40,40,0.75);

// IQDB lookup
$iqdb-post-border: lightgrey;

// Mod queue
$modqueue-post-pos-score-background: rgb(230, 255, 230);
$modqueue-post-neg-score-background: rgb(255, 230, 230);
$modqueue-post-quality-warning-background: $preview-quality-warning-color;
$modqueue-post-sample-warning-background: $preview-sample-warning-color;

// Notes
$note-color: $inverted-text-color;
$note-background: #FFE;
$note-border: black;
$note-box-border: white;
$note-box-background: transparent;
$note-box-inner-border: black;
$note-box-inner-background: #FFE;
$note-box-inner-unsaved-border: red;
$note-box-highlighted-outline: $note-highlight-color;
$note-preview-background: white;

// Pools
$pool-series-link-color: $link-color;
$pool-series-link-hover-color: $link-hover-color;
$pool-collection-link-color: $link-color;
$pool-collection-link-hover-color: $link-hover-color;

// Post Events
$post-events-unresolved-background: $negative-record-background;

// Post Flags
$post-flags-unresolved-background: $negative-record-background;

// Post Mode
$post-mode-edit: $section-yellow-background;
$post-mode-tag-script: #4f114f;
$post-mode-add-fav: #104e17;
$post-mode-remove-fav: darken(#104e17, 10%);
$post-mode-vote-up: $section-green-background;
$post-mode-vote-down: $section-red-background;
$post-mode-rate-q: #4e4810;
$post-mode-rate-e: none; // TODO
$post-mode-rate-s: none; // TODO
$post-mode-add-pool: #104b57;
$post-mode-lock-rating: #AA3;
$post-mode-lock-note: #3AA;
$post-mode-approve: #48C;
$post-mode-notes: darken(#5CD, 50%);
$post-mode-delete: #4e1010;

// Edit History / Post Versions
$post-version-grid-border: black;
$post-version-label-background: $section-background;
$post-version-content-background: inherit;
$post-version-diff-added-color: $state-success-color;
$post-version-diff-removed-color: $state-error-color;

// Posts
$post-preview-description-background: $section-background;
$post-rating-explicit-color: $red-color;
$post-rating-questionable-color: hsl(50, 100%, 70%);
$post-rating-safe-color: $green-color;
$post-preview-highlight-background: rgba(0,0,0,0.1);
$post-count-color: #CCC;
$post-tag-low-count-color: red;
$post-score-positive-color: $green-color;
$post-score-negative-color: $red-color;
$post-score-neutral-color: $dark-grey-color;

$post-ugoira-seek-background: #EEE;
$post-ugoira-seek-progress-background: white;

$post-description-background: $section-background;
$post-description-border: border_color($post-description-background);
$post-description-disabled-color: gray;

// Related Tags
$related-tags-background: lighten($section-background, 10%);
$related-tags-link-selected-background: rgba(255, 255, 255, 0.15);
$related-tags-link-selected-color: white;

// Tags
$tags-count-link-color: gray;
$tags-vote-down-color: red;
$tags-vote-meh-color: darkkhaki;
$tags-vote-up-color: green;

// Users
$user-profile-box-header-color: #333;
$user-home-greeting-color: gold;

// Wiki
$wiki-other-names-background: #EEE;

$tag-categories: (
  "0": "general",
  "1": "artist",
  "3": "copyright",
  "4": "character",
  "5": "species",
  "6": "invalid",
  "7": "meta",
  "8": "lore"
);

$tag-categories-short: (
  "gen": "general",
  "art": "artist",
  "copy": "copyright",
  "char": "character",
  "spec": "species",
  "inv": "invalid",
  "meta": "meta",
  "lor": "lore"
)
