a,
a:link,
a:visited {
  @include themable {
    color: themed('color-link');
  }
  text-decoration: none;
}

a:hover {
  @include themable {
    color: themed('color-link-hover');
  }
  text-decoration: none;
}

a:active {
  @include themable {
    color: themed('color-link-active');
  }
  text-decoration: none;
}

a.page-number {
  @include themable {
    color: themed('color-link-page-number');
  }
}
a.page-number:hover {
  @include themable {
    color: themed('color-link-page-number-hover');
  }
}

a.active {
  font-weight: bold;
}

a.wiki-link {
  margin-right: 0.3em;
}
