// Source: https://github.com/FrogBot/sassy_bootstrap/blob/master/lib/_reset.sass


// Reset.sass
// Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an
// adapted version here	that cuts out some of the reset HTML elements we will
// never need here (i.e., dfn, samp, etc).

// ERIC MEYER RESET
// ----------------


table {
  border-collapse: collapse;
  border-spacing: 0;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

// Normalize.css
// Pulling in select resets form the normalize.css project
// --------------------------------------------------

// Display in IE6-9 and FF3
// -------------------------
// Source: http://github.com/necolas/normalize.css
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Focus states
a:focus {
  outline: thin dotted;
}

// Hover & Active

a:hover,
a:active {
  outline: 0;
}

// Display in IE6-9 and FF3
// -------------------------
// Source: http://github.com/necolas/normalize.css

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

// Prevents sub and sup affecting line-height in all browsers
// -------------------------
// Source: http://github.com/necolas/normalize.css

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Img border in a's and image quality
// -------------------------
// Source: http://github.com/necolas/normalize.css
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

