@import "../themes/index";

// Generates theme-specific classes for content within
@mixin themable($themes: $themes, $flipped: false) {

  // Sets the default theme's styles first, as baseline
  $themes_current: $themes_default !global;
  @content;
  $themes_current: null !global;

  // Iterates over the list of themes and creates corresponding classes
  @each $theme, $map in $themes {
    @if ($flipped == true) {
      &.theme-#{$theme} {
        $themes_current: $map !global;
        @content;
        $themes_current: null !global;
      }
    } @else {
      .theme-#{$theme} & {
        $themes_current: $map !global;
        @content;
        $themes_current: null !global;
      }
    }
  }
}

// Used inside @themable mixin to fetch necessary values
@function themed($key) {
  @return map-get($themes_current, $key);
}
