[Unit]
Description=Danbooru
After=network.target

[Service]
Type=simple
User=danbooru
WorkingDirectory=/home/danbooru/danbooru
ExecStart=/bin/bash -c 'source /etc/profile.d/chruby.sh;/usr/bin/shoreman'

[Install]
WantedBy=vagrant.mount
