<tr id="replacement-<%= post_replacement.id %>" class="mobile-replacement-row">
  <td colspan="100%">
    <button class="toggle-expanded" data-replacement-id="<%= post_replacement.id %>">&#9660;</button>
    <%= render partial: "post_replacements/partials/show/post_replacement_overview",  locals: { post_replacement: post_replacement }%>
    <div class="replacement-section-separator"></div>
    <%= render partial: "post_replacements/partials/show/post_replacement_details", locals: { post_replacement: post_replacement }%>
  </td>
</tr>