<% @blip = @ticket.content %>
<% unless @blip %>
    <% @found_item = false %>
    <div class='section' style='width:80em;'>That blip does not exist.</div>
<% else %>
    <div class='section' style='width:80em;'>
      <h4>You are reporting the following blip:</h4>
      <div class="author"><%= link_to_user(@blip.creator) %></div>
      <span class="date" title="Posted on <%= @blip.created_at.strftime("%b %d, %Y %I:%M %p") %>"><%= time_ago_in_words(@blip.created_at) %> ago</span>
      <br><br>
      <div class="dtext-container">
        <%= format_text(@blip.body) %>
      </div>
    </div>
<% end %>
