<% @blip = @ticket.content %>
<h4>You are reporting the following blip:</h4>
<div class="author"><%= link_to_user(@blip.creator) %></div>
<span class="date"><%= time_ago_in_words_tagged(@blip.created_at) %></span>
<br><br>
<div class="dtext-container">
  <%= format_text(@blip.body) %>
</div>

<%= render "tickets/partials/create_notice", message: @blip %>
