<% @comment = @ticket.content %>
<h4>You are reporting the following comment:</h4>
<div class="author"><%= link_to_user @comment.creator %></div>
<span class="date"><%= time_ago_in_words_tagged(@comment.created_at) %></span>
<br><br>
<div class="dtext-container">
  <%= format_text(@comment.body) %>
</div>

<%= render "tickets/partials/create_notice", message: @comment %>
