<% unless @ticket.dmail && @ticket.dmail.visible_to?(CurrentUser.user) %>
  <% @found_item = false %>
  <div class='section' style='width:80em;'>That message does not exist.</div>
<% else %>
  <div class='section' style='width:80em;'>
    <% @dmail = @ticket.dmail %>
    <h4>You are reporting the following private message:</h4>
    <div class='author'><%= link_to_user @dmail.from %></div>
    <span class="date" title="Sent on <%= @dmail.created_at.strftime("%b %d, %Y %I:%M %p") %>"><%= time_ago_in_words(@dmail.created_at) %>
      ago</span>
    <%= format_text(@dmail.body) %>
  </div>
<% end %>
