<% unless (params[:disp_id].to_i == current_user.id) %>
    <% @found_item = false %>
    <div class='section' style='width:80em;'>You can only change your own username.</div>
<% else %>
    <div class='section' style='width:80em;'>
      <p>You are requesting to change your username.</p>
      <p>Usernames may contain:
      <ul>
        <li>Non-accented letters (<b>A-Z</b>)</li>
        <li>Numbers (<b>0-9</b>)</li>
        <li>The following symbols: <b>-_~'</b></li>
      </ul>
      <p>The name change is not automated, but must be approved by an Administrator.
        Requests are usually handled within 24 hours, but it may take up to 3 days to process.
        Once the name change has been approved your old username is able to used by other users.
        Please ensure that you are willing to risk losing your name!</p>
    </div>
<% end %>