<% @pool = @ticket.content %>
<h4>You are reporting the following pool:</h4>
<div class='page'><%= link_to(@pool.name, pool_path(@pool)) %></div>
<div class='author'><%= link_to_user(@pool.creator) %></div>
<span class="date"><%= time_ago_in_words_tagged(@pool.created_at) %></span>
