<% unless @ticket.post %>
    <% @found_item = false %>
    <div class='section' style='width:80em;'>That post does not exist.</div>
<% else %>
    <div class='section' style='width:80em;'>
      <% @post = @ticket.post %>
      You are reporting <%= PostPresenter.preview(@ticket.post, tags: 'status:any', no_blacklist: true) %>
    </div>
<% end %>
