<div id="c-post-replacements">
You are reporting the following replacement: 
  <div class: "replacement-embedded">
    <%= render partial: "post_replacements/partials/show/post_replacement", locals: { post_replacement: @ticket.content } %>
  </div>
</div>
