<% @set = @ticket.content %>
<h4>You are reporting the following set:</h4>
<div class='page'><%= link_to(@set.name, post_set_path(@set)) %></div>
<div class='author'><%= link_to_user(@set.creator) %></div>
<span class="date"><%= time_ago_in_words_tagged(@set.created_at) %></span>
