<div id="c-post-flags">
  <div id="a-index">
    <h1>Flags</h1>
    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>
    <table class="striped">
      <thead>
        <tr>
          <th width="1%">Post</th>
          <th>Reason</th>
          <th width="1%">Flags</th>
          <th width="5%">Type</th>
          <th width="1%">Resolved?</th>
          <th width="15%">Uploaded</th>
          <th width="15%">Flagged</th>
          <th width="15%">Approver</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "post_flags/partials/show/post_flag", collection: @post_flags, as: :post_flag %>
      </tbody>
    </table>

    <%= numbered_paginator(@post_flags) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Flags
<% end %>
