<div id="c-user-feedbacks">
  <div id="a-search">
    <h1>Search User Feedbacks</h1>

    <%= render "search" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search User Feedbacks
<% end %>
