<div id="c-maintenance-user-deletions">
  <div id="a-show">
    <h1>Delete Account</h1>

    <p>You can delete your account. This will not actually remove your account from the database, but it will do the following things:</p>

    <ul>
      <li>Rename your account to a generic name</li>
      <li>Lock your account</li>
      <li>Remove all your favorites</li>
      <li>Blank out your settings (including email)</li>
    </ul>

    <p>This will not do any of the following:</p>

    <ul>
      <li>Remove uploads you have made to the site</li>
      <li>Remove comments/forum topics/blips/wiki pages/sets/pools you have made</li>
      <li>Remove the history of changes made by your account for any portion of the site</li>
    </ul>

    <p>You must enter your password to delete your account. Accounts cannot be deleted until they have existed for at least one week.</p>

    <%= form_tag(maintenance_user_deletion_path, :method => :delete, :class => "simple_form") do %>
      <div class="input">
        <label>Password</label>
        <%= password_field_tag :password %>
      </div>

      <div class="input">
        <%= submit_tag "Submit" %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Delete Account
<% end %>
