<div class="nav-block set-nav">
  <ul>
    <% post_sets.each do |set| %>
      <%= render "posts/partials/show/post_set_list_item", post_set: set, post: post, selected: is_post_set_selected?(set) %>
    <% end %>
  </ul>
</div>
