<%-
# forum_post
%>

<li class="forum-post-vote-block">
  <%= link_to svg_icon(:thumbs_up, width: 16, height: 16), "#", title: "Vote up", class: "forum-vote-up", 'data-forum-id': forum_post.id %>

  <%= link_to svg_icon(:face_meh, width: 16, height: 16), "#", title: "Vote meh", class: "forum-vote-meh", 'data-forum-id': forum_post.id %>

  <%= link_to svg_icon(:thumbs_down, width: 16, height: 16), "#", title: "Vote down", class: "forum-vote-down", 'data-forum-id': forum_post.id %>
</li>
