<div class="ui-corner-all ui-state-error site-notice" id="ban-notice">
  <h1>Your account has been banned</h1>
  <p class="styled-dtext">Reason: <%= format_text CurrentUser.user.recent_ban.reason %></p>
  <p>Ban expires: <%= CurrentUser.user.recent_ban.expire_days %></p>
</div>
