<div class="ui-corner-all site-notice" id="ban-notice">
  <h1>Your account has been banned</h1>
  <div class="dtext-container">Reason: <%= format_text CurrentUser.user.recent_ban.reason %></div>
  <p>Ban expires: <%= CurrentUser.user.recent_ban.expire_days %></p>
</div>
