<div class="dmail-notice">
  <a href="<%= dmails_path(:search => { :to_id => CurrentUser.id }, :folder => "received") %>" class="dmail-notice-body">
    <%= svg_icon(:mail, class: "dmail-notice-icon dmail-notice-highlight") %>
    <span class="dmail-notice-text">
      <% if CurrentUser.user.unread_dmail_count > 1 %>
        You have <span class="dmail-notice-highlight"><%= CurrentUser.user.unread_dmail_count %></span> unread messages.
      <% else %>
        You have <span class="dmail-notice-highlight">unread mail</span>.
      <% end %>
    </span>
  </a>
  <button class="dmail-notice-hide">
    <%= svg_icon(:times) %>
  </button>
</div>
