<div id="c-users">
  <div id="a-search">
    <h1>Search Users</h1>
    
    <%= render "search" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Users
<% end %>
