<div id="c-staff-notes">
  <div id="a-new">
    <h1>New Staff Note for <%= link_to_user(@user) %></h1>

    <%= render "staff_notes/partials/new", staff_note: @staff_note, user: @user %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Staff Note
<% end %>
