<div id="c-staff-notes">
  <div id="a-search">
    <h1>Search Staff Notes</h1>

    <%= render "search" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Staff Notes
<% end %>
