<mj-section mj-class="container">
  <mj-column>

    <mj-text mj-class="text">
      <h2>Hi, <%= @user.name %>!</h2>
      <p>
        To finalize your account setup and unlock all features, we need to verify the email address you provided.
        This helps us keep your account secure and ensures you receive important notifications.
      </p>
    </mj-text>

    <mj-button
      mj-class="button"
      align="center"
      href="<%= activate_user_email_url(sig: email_sig(@user, :activate, 48.hours)) %>"
    >
      Verify email address
    </mj-button>
    
    <mj-text mj-class="hint" align="center" padding-top="0">
      This link will expire in 48 hours.
    </mj-text>
    <mj-text mj-class="text">
      <p>If you did not create an account, please ignore this email.</p>
      <p>
        Thanks,<br />
        <%= Danbooru.config.app_name %> Team
      </p>
    </mj-text>

  </mj-column>
</mj-section>