<p>Your new account on e621 is currently unactivated and you still need to confirm your email before you can fully use the account.</p>
<p>To finish things up, you only need to click <%= link_to "here.", activate_user_email_url(sig: email_sig(@user, :activate, 48.hours)) %></p>
