<% if update.present? %>
  <div class="ui-state-highlight site-notice" style="display: none;" id="news" data-id="<%= update.id %>">
    <div id="news-closebutton" class="closebutton">Dismiss</div>
    <h6>News - <%= update.created_at.strftime("%b %d, %Y") %>
      (<%= time_ago_in_words update.created_at %> ago)
      <span id="news-showtext" class="showtext">Click to show.</span>
    </h6>
    <div class="newsbody styled-dtext"><%= format_text(update.message) %></div>
  </div>
<% end %>
