<% if NewsUpdate.recent.present? %>
  <div class="ui-state-highlight site-notice" style="display: none;" id="news" data-id="<%= NewsUpdate.recent[0].id %>">
    <div id="news-closebutton" class="closebutton">Dismiss</div>
    <h6>News - <%= NewsUpdate.recent[0].created_at.strftime("%b %d, %Y") %>
      (<%= time_ago_in_words NewsUpdate.recent[0].created_at %> ago)
      <span id="news-showtext" class="showtext">Click to show.</span>
    </h6>
    <div class="newsbody styled-dtext"><%= format_text(NewsUpdate.recent[0].message) %></div>
  </div>
<% end %>
