<% if news_update.present? %>
  <div class="ui-state-highlight site-notice" style="display: none;" id="news" data-id="<%= news_update.id %>">
    <a href="" role="button" id="news-dismiss" title="Dismiss"><i class="fas fa-times"></i></a>
    <h6 id="news-header">News: <%= news_update.created_at.strftime("%b %d, %Y") %>
      <a href="" role="button" id="news-show">Show</a>
    </h6>
    <div id="news-body" class="dtext-container"><%= format_text(news_update.message) %></div>
  </div>
<% end %>
