<div id="c-news-updates">
  <div id="a-edit">
    <h1>Edit Update</h1>

    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Update
<% end %>
