<div class="c-mascots">
  <div class="a-edit">
    <h1>Edit Mascot</h1>
    <%= render "form", mascot: @mascot %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Mascot
<% end %>
