#c-wiki-pages {
  .automated-tag-notice {
    max-width: 50rem;
    background: themed("color-section");
    border-radius: 0.25rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-left: 0.25rem solid palette("background-orange");

    h3 {
      display: flex;
      gap: 0.5rem;

      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 0.25rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
