<template>
  <div id="preview-sidebar" class="uploader-grid-right">
    <file-preview
      classes="in-sidebar"
      :data="previewData"
      @thumbnailDimensionsChanged="thumbnailDimensions = $event"
    ></file-preview>
  </div>

  <div class="flex-grid">
    <div class="col"></div>
    <div class="col2">
      <div class="box-section background-red" v-show="error">
        {{ error }}
      </div>
      <button @click="submit" :disabled="submitting" accesskey="s">
        {{ submitting ? "Saving" : "Save" }}
      </button>
    </div>
  </div>
</template>

<script>
  import filePreview from './file_preview.vue';

  export default {
    components: {
      "file-preview": filePreview,
    },

    data() {
      return {
        submitting: false,
        error: "",

        previewData: {
          url: "",
          isVideo: false,
        },
        postID: window.thumbnailerSettings.postID,

        thumbnailDimensions: {
          left: 0,
          top: 0,
          width: 150,
          height: 150,
        },
      };
    },

    watch: {
      thumbnailDimensions: function() {
        // console.log("thumbnail dimensions changed", this.thumbnailDimensions);
      }
    },

    mounted() {
      const self = this;

      this.previewData = {
        url: window.thumbnailerSettings.url,
        isVideo: window.thumbnailerSettings.isVideo,
        thumbnail: window.thumbnailerSettings.thumbnail,
      }
    },

    methods: {
      submit() {

        // Prevent duplicate or invalid submissions
        if (this.submitting) return;
        this.submitting = true;

        // Build post data
        const data = new FormData();
        if (this.thumbnailDimensions.side < 150) this.thumbnailDimensions.side = 150;
        data.append("post[thumbnail]", this.thumbnailString);

        // Send data to the backend
        $.ajax("/posts/" + this.postID + ".json", {
          type: "PUT",
          data: {
            post: {
              thumbnail: this.thumbnailString,
            },
          },
          success(data) {
            self.submitting = false;
            Danbooru.notice("Thumbnail updated successfully");
            location.href = "/posts/" + data.post.id;
          },
          error(data) {
            self.submitting = false;
            const data2 = data.responseJSON;
            console.log(data2);
            try {
              if (data2 && data2.reason === 'duplicate') {
                self.duplicateId = data2.post_id;
              }
              if (data2 && ['duplicate', 'invalid'].indexOf(data2.reason) !== -1) {
                self.error = data2.message;
              } else if (data2 && data2.message) {
                self.error = 'Error: ' + data2.message;
              } else {
                self.error = 'Error: ' + data2.reason;
              }
            } catch (e) {
              self.error = 'Error: Unknown error! ' + JSON.stringify(data2);
            }
          }
        });
      },
    },

    computed: {
      thumbnailString() {
        return this.thumbnailDimensions.left + "/" + this.thumbnailDimensions.top + "/" + this.thumbnailDimensions.side;
      },
    },
  };
</script>
