<div id="c-staff-files">
  <div id="a-edit">
    <h1>Edit Staff File</h1>
    <%= render "form" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Edit Staff File
<% end %>

<%= render "secondary_links" %>
