<div id="c-staff-files">
  <div id="a-new">
    <h1>Upload Staff File</h1>
    <%= render "form" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Upload Staff File
<% end %>

<%= render "secondary_links" %>
