<% content_for("subnavbar") do %>
  <li><%= link_to "All", action: "index" %></li>
  <% unless current_user.anon? %>
  <li><%= link_to "Mine", action: "index", user_id: current_user.id %></li>
  <% end %>
  <% if current_user.is_moderator? %>
    <li><%= link_to "Claimed", action: "index", claim_id: current_user.id %></li>
  <% end %>
  <li><%= link_to "Help", controller: "help" %></li>
<% end %>
