@use "utilities/standard_variables" as std;
@use "themes/theme";
@use "themes/palette";
@use "utilities/tag_categories";

h5.tag-list-header {
  font-size: 1.25rem;
  cursor: pointer;

  &.hidden-category::before {
    content: "► ";
  }
}

ul.tag-list {
  display: flex;
  flex-flow: column;
  gap: 0.5rem 0;
  margin: 0.5rem 0;

  li {
    display: flex;
    width: fit-content;

    background: theme.value("color-section");
    border: 0.125rem solid theme.value("color-section-lighten-5");
    border-left-width: 0.25rem;
    @include std.radius;

    @each $tag-category, $tag-category-name in tag_categories.$mapping {
      &.tag-#{$tag-category-name} {
        border-left-color: theme.value("color-tag-#{$tag-category-name}");
        &:hover { border-left-color: theme.value("color-tag-#{$tag-category-name}-alt"); }

        a, a:link { color: theme.value("color-tag-#{$tag-category-name}"); }
        a:hover, a:active { color: theme.value("color-tag-#{$tag-category-name}-alt"); }
      }
    }

    a {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  // Section 1: Controls
  .tag-list-wiki,
  .tag-list-inc,
  .tag-list-exl,
  .tag-list-count {
    padding: 0.25rem 0.5rem;
    user-select: none;
  }

  // Section 2: Tag Data
  .tag-list-search {
    display: flex;

    .tag-list-name {
      border: 1px solid theme.value("color-section-lighten-5");
      border-width: 0 1px 0 1px;
      padding: 0.25rem;

      .hisc { color: transparent; }
    }

    .tag-list-count {
      color: theme.value("color-text-muted");
      font-size: 85%;
      &.low-post-count { color: palette.value("text-red"); }
    }
  }

  // Section 3: Actions
  .tag-list-actions {
    display: none; // flex
    align-items: baseline;
    margin-left: auto;

    button {
      display: flex;
      align-items: center;
      color: theme.value("color-link");

      // default button styles
      padding: 0;
      border-radius: 0;
      background: none;

      &:hover { color: theme.value("color-link-hover"); }
      
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
