<div id="c-wiki-pages">
  <div id="a-search">
    <h1>Search Wiki</h1>

    <%= render "search" %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Wiki
<% end %>
