@use "utility/theme";
@use "utility/palette";
@use "utility/viewport";
@use "utility/std";

@use "warnable";

article.comment {
  @include std.radius;

  &[data-is-sticky="true"] { background: theme.color("section-lighten-10"); }
  &[data-is-deleted="true"] { background: palette.background("red"); }
  &:target {
    background-color: rgba(255, 255, 255, 0.25);
  }

  form.edit_comment {
    background-color: theme.color("section");
    border-radius: 0.25rem;
    padding: 0.5rem;

    input[type="submit"] { min-width: 5rem; }
    div.input.boolean { display: inline-block; }
  }
}

.comment-post-grid {
  background: theme.color("section");
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 165px 1fr;

  .author-info {
    padding: 0.25rem 0.5rem;
    grid-column: 1;
    grid-row: 1;
    background: theme.color("section-lighten-5");
    word-wrap: anywhere;
    overflow-wrap: anywhere;

    .post-time {
      font-style: italic;
    }
  }

  .content {
    grid-column: 2;
    grid-row: 1;
    padding: 0.25rem 0.5rem;

    .content-menu { margin-top: 1rem; }
    .comment-vote-up-link:hover,
    .comment-vote-down-link:hover {
      background-color: rgba(255, 255, 255, 0.2);
      @include std.radius;
    }
  }

  .avatar {
    // Temporary, until the new comment UI is implemented.
    article.thumbnail.no-render { display: none; }
  }

  .comment-vote-down-link, .comment-vote-up-link {
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  body.resp {
    .comment-post-grid {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;

      .author-info {
        padding: unset;
        grid-column: 1;
        grid-row: 1;

        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
        grid-column-gap: 0.5rem;

        .name-rank {
          grid-column: 2;
          grid-row: 1;
        }

        .avatar {
          grid-column: 1;
          grid-row-start: 1;
          grid-row-end: 4;

          article.thumbnail {
            --thumb-image-size: 50px;
          }
        }

        .post-time {
          grid-column: 2;
          grid-row: 2;
        }
      }

      .content {
        grid-column: 1;
        grid-row: 2;
      }
    }
  }
}