// Fullscreen mode
// Only relevant on desktop
.post-index {
  grid-template-areas:
    "search " 
    "content";
  grid-template-columns: 1fr;

  .search {
    display: flex;
    border-radius: 0.25rem 0.25rem 0 0;
    box-shadow: inset 0px -0.25rem 0.25rem -0.25rem themed("color-background");
    .post-search {
      flex: 1;
    }
    .search-controls {
      display: flex;
      justify-content: right;
      align-self: end;
      margin: 0 0 0 0.5rem;
      .st-button.w100 {
        width: unset;
        span { display: none; }
      }
    }
  }
  .sidebar { display: none; }
  .content {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}
