#advanced-search-container,
#layout-settings-container {
  display: none;
  &.active { display: flex; }
  flex-flow: column;
  gap: 0.5rem;

  position: absolute;
  top: 4rem;
  right: 0.25rem;
  z-index: 11; // above posts and labels

  background: themed("color-section");
  padding: 0.5rem;
  line-height: 1rem;
  @include st-radius;

  min-width: 16rem;
  box-shadow: 1px 1px 4px 0px #0006;
  border: 1px solid themed("color-section-darken-5");

  h3 {
    margin-bottom: 0.25rem;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.25rem;
      height: 1.5rem;
    }
  }

  .ssc-header {
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0.6;
    margin-top: 0.25rem;
  }
  .ssc-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
  }
  .ssc-label label {
    font-weight: normal;
    padding: 0.25rem 0;
  }
  .ssc-body {
    &:not(.stm-toggle) {
      display: flex;
      justify-content: end;
    }


    &:has(.sto-toggle--tri) {
      align-items: stretch;
      .sto-toggle--tri { flex: 1; width: auto; }
    }
  }

  .ssc-desktop-only { display: none;}
}

#advanced-search-container {
  .ssc-body.stm-toggle {
    input[value="s"] + label { background-color: palette("background-green"); color: white; }
    input[value="q"] + label { background-color: palette("background-yellow"); color: white; }
    input[value="e"] + label { background-color: palette("background-red"); color: white; }
    input:not(:checked) + label { opacity: 0.5; }

    input[type="checkbox"]:checked + label              { border-radius: 0; }
    input[type="checkbox"]:checked + label:first-of-type { @include st-radius-top; }
    input[type="checkbox"]:checked + label:last-of-type  { @include st-radius-bottom; }
  }

  label:has(.sort-asc-btn) {
    overflow: hidden;
    position: relative;
  }

  .sort-asc-btn {
    position: absolute;
    border-radius: .25rem;
    top: 0;
    right: 0;
    bottom: 0;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
    color: inherit;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include with-setting("fullscreen", "true") {
  #advanced-search-container,
  #layout-settings-container {
    left: unset;
    right: 0;
    top: 6rem;
  }
}


// Desktop Only
@include window-larger-than(50rem) {
  #advanced-search-container,
  #layout-settings-container {
    top: 0.5rem;
    left: 16.5rem;

    .ssc-desktop-only { display: grid; }
  }
}
