.search-settings-container {
  display: none;
  &.active { display: flex; }
  flex-flow: column;
  gap: 0.5rem;

  position: absolute;
  top: 4rem;
  right: 0.25rem;
  z-index: 11; // above posts and labels

  background: themed("color-section");
  padding: 0.5rem;
  line-height: 1rem;
  @include st-radius;

  min-width: 16rem;
  box-shadow: 1px 1px 4px 0px #0006;
  border: 1px solid themed("color-section-darken-5");

  h3 {
    margin-bottom: 0.25rem;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.25rem;
      height: 1.5rem;
    }
  }

  .ssc-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
  }
  .ssc-label label {
    font-weight: normal;
    padding: 0.25rem 0;
  }
  .ssc-body {
    display: flex;
    justify-content: end;
  }

  .ssc-desktop-only { display: none;}
}

@include with-setting("fullscreen", "true") {
  .search-settings-container {
    left: unset;
    right: 0;
    top: 6rem;
  }
}


// Desktop Only
@include window-larger-than(50rem) {
  .search-settings-container {
    top: 0.5rem;
    left: 16.5rem;

    .ssc-desktop-only { display: grid; }
  }
}
