body[data-th-extra="winter"] {
  --image-foreground: url("~/images/themes/extras/snow_bottom.png"),
                      url("~/images/themes/extras/snow_top.png");
  --image-foreground-position: left bottom, left top;
  --image-foreground-repeat: repeat-x;
  --content-padding-bottom: 3rem;
}
