body[data-th-extra="autumn"] {
  --image-foreground: url("images/themes/extras/leaves_bottom.png");
  --image-foreground-position: left bottom;
  --image-foreground-repeat: repeat-x;
  --content-padding-bottom: 6rem;
}
