body[data-th-extra="space"] {
  --image-foreground: url("~/images/themes/extras/space.png");
  --image-foreground-position: left top;
  --image-foreground-repeat: repeat-x;

  --image-foreground-top: url("~/images/themes/extras/space.png");
  --image-foreground-top-position: left top;
  --image-foreground-top-repeat: repeat-x;

  --image-foreground-bottom: none;
  --image-foreground-bottom-position: none;
  --image-foreground-bottom-repeat: none;
}
