body[data-th-extra="scales"] {
  --image-foreground: url("~/images/themes/extras/roundedScale.svg");
  --image-foreground-position: left top;
  --image-foreground-repeat: repeat;
  --image-foreground-size: 0.75rem;
  --content-padding-bottom: 0.5rem;
}
