body[data-th-extra="autumn"] {
  --image-foreground: url("~/images/themes/extras/leaves_bottom.png");
  --image-foreground-position: left bottom;
  --image-foreground-repeat: repeat-x;

  --image-foreground-top: none;
  --image-foreground-top-position: unset;
  --image-foreground-top-repeat: unset;

  --image-foreground-bottom: url("~/images/themes/extras/leaves_bottom.png");
  --image-foreground-bottom-position: left bottom;
  --image-foreground-bottom-repeat: repeat-x;

  --content-padding-bottom: 6rem;
}
