@import 'theme_hexagon';
@import 'theme_pony';
@import 'theme_bloodlust';
@import 'theme_serpent';
@import 'theme_hotdog';

@import 'extra_none';
@import 'extra_autumn';
@import 'extra_winter';
@import 'extra_spring';
@import 'extra_aurora';
@import 'extra_hexagons';
@import 'extra_space';
@import 'extra_stars';

// Primary theming - colors, main backgrounds, etc
$theme_main_index: (
  "data-attr":    "main",
  "default":      $theme_hexagon,
  "themes": (
    "pony":         $theme_pony,
    "bloodlust":    $theme_bloodlust,
    "serpent":      $theme_serpent,
    "hotdog":       $theme_hotdog,
  )
);

// Tertiary theming - seasonal decorations
$theme_extra_index: (
  "data-attr":        "extra",
  "default":          $extra_hexagons,
  "themes": (
    "none":         $extra_none,
    "autumn":       $extra_autumn,
    "winter":       $extra_winter,
    "spring":       $extra_spring,
    "aurora":       $extra_aurora,
    "space":        $extra_space,
    "stars":        $extra_stars,
  )
);
