$snake-background:     #003010; // 44a544
$snake-fg:             #194d25; // dacf6b
$snake-section:        #237723; // fff48b
$snake-link:           #32cd32; // 005500
$snake-link-hover:     #60cd60; // 3A8F3A
body[data-th-main="snake"] {
  // #region Theme-specific images
  --image-background: url("~/images/themes/extras/roundedScale.svg");
  --image-background-position: left top;
  --image-background-repeat: repeat;
  --image-background-size: 3rem;
  // #endregion Theme-specific images

  // #region Layout Colors
  --color-background:             #{$snake-background}; // 44a544
  --color-foreground:             #{$snake-fg}; // dacf6b
  --color-section:                #{$snake-section}; // fff48b
  --color-section-lighten-5:      #{lighten($snake-section, 5%)}; // fff48b
  --color-section-lighten-10:     #{lighten($snake-section, 10%)}; // fff48b
  --color-section-darken-5:       #{darken($snake-section, 5%)}; // fff48b
  --color-table-border:           #{$snake-fg}; // dacf6b
  // #endregion Layout Colors

  // #region Main Colors
  --color-text:                   #ffffff;
  --color-text-muted:             #4c4c4c;
  --color-text-table-header:      #{darken(#ffffff, 10%)};

  --color-link:                   #{$snake-link}; // 005500
  --color-link-hover:             #{$snake-link-hover}; // 3A8F3A
  --color-link-active:            #e8c446;
  --color-button-active:          #e8c446;

  --color-active-tag:             #{$snake-background}; // 44a544
  // #endregion Main Colors

  // #region DText Colors
  --color-dtext-quote:            #67717b;
  --color-dtext-section:          #427982;
  // #endregion DText Colors

  // #region User Groups
  --color-user-member:            #{$snake-link}; // 005500
  --color-user-member-alt:        #{$snake-link-hover}; // 3A8F3A
  --color-user-privileged:        #{$snake-link}; // 005500
  --color-user-privileged-alt:    #{$snake-link-hover}; // 3A8F3A

  --color-user-blocked:           #{$snake-link}; // 005500
  --color-user-blocked-alt:       #{$snake-link-hover}; // 3A8F3A
  // #endregion User Groups

  // #region Tag Categories
  // --color-tag-general:            #{$snake-link}; // 005500
  // --color-tag-general-alt:        #{$snake-link-hover}; // 3A8F3A
  --color-tag-general:            #b4c7d9;
  --color-tag-general-alt:        #2e76b4;

  --color-tag-artist:             #f2ac08;
  --color-tag-artist-alt:         #fbd67f;

  --color-tag-contributor:        #c0c0c0;
  --color-tag-contributor-alt:    #71706e;

  --color-tag-copyright:          #d0d;
  --color-tag-copyright-alt:      #ff5eff;

  --color-tag-character:          #0a0;
  --color-tag-character-alt:      #2bff2b;

  --color-tag-species:            #ed5d1f;
  --color-tag-species-alt:        #f6b295;

  --color-tag-invalid:            #ff3d3d;
  --color-tag-invalid-alt:        #{lighten(#ff3d3d, 25%)};

  --color-tag-meta:               #fff;
  --color-tag-meta-alt:           #666;

  --color-tag-lore:               #282;
  --color-tag-lore-alt:           #5fdb5f;

  --color-tag-pool:               wheat;
  --color-tag-pool-alt:           #d0b27a;
  // #endregion Tag Categories

  // #region Spoilers
  --color-spoiler-link:           #{$snake-background}; // 44a544
  --color-spoiler-link-hover:     #e8c446;
  // #endregion Spoilers
}
