body[data-th-main="forest"] {
  // Layout Colors
  --color-background: #1F1300;
  --color-foreground: #002e12;
  --color-section: #134b27;
  --color-section-lighten-5: #185F32;
  --color-section-lighten-10: #1D743C;
  --color-section-darken-5: #0E371C;
  --color-table-border: #1D743C;

  // Main Colors
  --color-link: #DEBD95;
  --color-link-hover: #FFFFD1;

  // User Groups
  --color-user-member: #DEBD95;
  --color-user-member-alt: #ACDB93;
  --color-user-blocked: #DEBD95;
  --color-user-blocked-alt: #ACDB93;
  --color-user-privileged: #DEBD95;
  --color-user-privileged-alt: #ACDB93;

  // Palette Colors
  --palette-background-green: #21738A;
  --palette-background-green-d5: #1C6275;
  --palette-background-green-d10: #175161;

  // Tag Categories
  --color-tag-general: #DEBD95;
  --color-tag-general-alt: #A68055;

  &[data-th-palette="deut"] {
    --palette-background-green: #794eb1;
    --palette-background-green-d5: #{darken(#794eb1, 5%)};
    --palette-background-green-d10: #{darken(#794eb1, 10%)};
  }

  &[data-th-palette="trit"] {
    --palette-background-green: #8529c9;
    --palette-background-green-d5: #{darken(#8529c9, 5%)};
    --palette-background-green-d10: #{darken(#8529c9, 10%)};
  }
}