<div id="c-admin-discord-reports">
  <div id="a-index">
    <h1>Discord Reports</h1>

    <div class="section">
      <h2>Janitor Stats</h2>
      <textarea rows=20 cols=80 readonly><%= @janitor_report %></textarea>
    </div>
    <br />

    <div class="section">
      <h2>Moderator Stats</h2>
      <textarea rows=20 cols=80 readonly><%= @moderator_report %></textarea>
    </div>
    <br />

    <div class="section">
      <h2>AIBUR Stats</h2>
      <textarea rows=20 cols=80 readonly><%= @aibur_report %></textarea>
    </div>
  </div>
</div>

<% content_for(:page_title) do %>
  Discord Reports
<% end %>
