<div id="c-staff-wikis">
  <div id="a-edit">
    <h1>Edit Staff Wiki Page</h1>
    <%= render "form" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Edit Staff Wiki Page - <%= @staff_wiki.title %>
<% end %>

<%= render "secondary_links" %>
