@use "sass:math";

// Standard button
// Could be applied to either a button or a link
// Semi-expected to have an icon
.st-button {
  $button-font-size: st-value(100);
  $button-background: themed("color-section-lighten-5");
  $button-background-hover: themed("color-section-lighten-10");
  $button-text-color: themed("color-text");

  $button-stealth-color: themed("color-link");
  $button-stealth-color-hover: themed("color-link-hover");

  display: inline-flex;
  gap: math.div(st-value(100), 4);
  border-radius: radius(025);

  // Button final size
  // Font           1rem
  // Padding  2 * 0.5rem
  font-size: st-value(100);
  line-height: st-value(100);
  padding: math.div(st-value(100), 2);
  height: st-value(100) * 2;
  box-sizing: border-box;
  justify-content: center;

  // TODO What if button is on a light background
  background: $button-background;
  color: $button-text-color;
  &:hover, &:active { background: $button-background-hover; }

  // Overriding the default outline
  &:focus {
    outline: none !important;
    background-color: themed("color-section-lighten-10");
  }

  & > svg {
    // Icon should be slightly larger than text,
    // with padding to fill the entire button height
    height: st-value(100) * 1.5;      // 1.5rem
    width: st-value(100) * 1.5;       // 1.5rem
    margin: -#{math.div(st-value(100), 2)} 0;  // 0.5rem
    padding: math.div(st-value(100), 4);       // 0.25rem

    border-radius: radius(025);
    pointer-events: none; // Simplifies event targetting
  }
  & > span {
    text-align: left;

    // Do not overflow text
    overflow: hidden;
    flex: 1;
  }

  // Full width button
  &.w100 { width: 100%; }

  &.stealth {
    background: none;
    padding: math.div(st-value(100), 2) 0;

    svg { background: $button-background; }
    span { color: $button-stealth-color; }
    &:hover {
      svg { background: $button-background-hover; }
      span { color: $button-stealth-color-hover; }
    }
  }

  &.icon {
    padding: math.div(st-value(100), 2) 0;
  }

  &.active {
    background-color: themed("color-link-active");
    color: palette("plain-black");
  }

  // Elements that look like physical buttons and animate on click.
  &.kinetic {
    $kinetic-shadow: 0.25rem;
    $kinetic-active: $kinetic-shadow / 2;

    box-shadow: 0 $kinetic-shadow themed("color-section");
    position: relative;
    &:active, &[processing="true"].anim {
      translate: 0 $kinetic-active;
      box-shadow: 0 $kinetic-active themed("color-section");

      // Cursed solution for a cursed problem.
      // Moving the button down when active caused the javascript event to not trigger if the
      // top 0.125rem of the button was clicked. The solution is to add an invisible element
      // that covers that gap.
      &::before {
        content: "";
        position: absolute;
        background: transparent;
        height: $kinetic-shadow;
        top: -$kinetic-active;
        left: 0;
        right: 0;
      }
    }
  }
}


// Colored buttons
.st-button.danger {
  background: palette("background-red");
  &:hover, &:active {
    background: palette("background-red-d5")
  }
}
.st-button.submit {
  background: themed("color-tag-artist");
  color: palette("plain-black");
  &:hover, &:active {
    background: themed("color-tag-artist-alt");
  }

  &[disabled] {
    background: palette("background-grey");
    color: palette("text-lighten-20");
    cursor: not-allowed;
  }
}


// Link fixes
a.st-button {
  color: inherit;     // Prevent links from using the wrong color
  user-select: none;  // Avoid accidentally selecting the button text
}



// Toggle switch
label.st-toggle {
  display: flex;
  width: 2.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  position: relative;

  cursor: pointer;
  font-size: 0;


  &::before {
    content: "";
    width: 2.5rem;
    height: 0.75rem;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    top: 0.375rem;

    background-color: themed("color-foreground");
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0.25rem #00000060;
  }

  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.25rem;
    left: 0rem;

    background: themed("color-link");
    border-radius: 0.25rem;
    transition: left 100ms, background-color 200ms;
  }
}
input[type="checkbox"][disabled].st-toggle + label.st-toggle {
  cursor: not-allowed;
  &::before { background: palette("background-grey"); }
}
input[type="checkbox"].st-toggle { display: none; }
input[type="checkbox"].st-toggle:checked + label.st-toggle {
  &::after {
    content: "";
    left: 1.5rem;
    background: themed("color-link-active");
  }
}



// Toggle with text
label.sto-toggle {

  display: flex;
  width: 100%;
  height: 1.5rem;
  box-sizing: border-box;
  position: relative;

  cursor: pointer;
  @include st-radius;
  background-color: themed("color-section-darken-5");
  font-size: 1rem;
  line-height: 1rem;

  align-items: center;
  text-align: center;
  font-weight: normal;
  font-family: "Roboto", Verdana, Geneva, sans-serif;

  &::after {
    content: "";
    width: 50%;
    height: 1.5rem;
    position: absolute;
    top: 0rem;
    left: 0rem;

    background: themed("color-link-active");
    @include st-radius;
    transition: left 100ms;
  }

  .sto-on, .sto-off {
    width: 50%;
    z-index: 1;
    pointer-events: none;
    user-select: none;
  }

  .sto-off { color: palette("plain-black"); }
  .sto-on { color: themed("color-text");}
}
input[type="checkbox"].sto-toggle { display: none; }
input[type="checkbox"].sto-toggle:checked + label.sto-toggle {
  .sto-off { color: themed("color-text");}
  .sto-on { color: palette("plain-black"); }
  &::after {
    content: "";
    left: 50%;
  }
}



// Radio toggle
.stm-toggle {
  display: grid;
  grid-template-columns: auto;

  input[type="radio"] { display: none; }
  label {
    display: flex;
    gap: 0.25rem;

    background: themed("color-section-darken-5");
    padding: 0.25rem 0.5rem;

    font-family: "Roboto", Verdana, Geneva, sans-serif;
    font-weight: normal;
    line-height: 1rem;
    font-size: 1rem;

    user-select: none;
    cursor: pointer;

    &:first-of-type { @include st-radius-top;}
    &:last-of-type { @include st-radius-bottom;}

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
  input[type="radio"]:checked + label {
    background: themed("color-link-active");
    color: palette("plain-black");
    @include st-radius;
  }
}
