.ui-autocomplete-dropdown {
  position: absolute;
  max-height: 226px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  z-index: 1000;
  list-style: none;
  border: 1px solid var(--color-text-muted);
  background-color: var(--color-section-lighten-10);
  font-size: 0.9em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  > li {
    padding: 3px .5em 3px .4em;
    cursor: pointer;

    > a {
      margin-right: 1em;
    }

    &:hover,
    &[aria-selected="true"] {
      background-color: var(--color-section-darken-5);
    }

    .ui-autocomplete-count {
      float: right;
    }
  }
}
