

#blacklist-box {
  display: none;
  margin-bottom: 1em;

  .blacklist-help {
    font-size: 0.85em;
    font-weight: bold;
  }

  .blacklist-header {
    display: flex;
    justify-content: space-between;
  }
  #blacklist-collapse {
    cursor: pointer;
    &::before {
      content: '▼ '
    }
    &.hidden::before {
      content: '► ';
    }
  }

  #blacklist-list {
    a {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;
    }

    a.entry-disabled {
      text-decoration: line-through;
    }
  }

  &.sidebar-blacklist ul li {
    list-style-type: disc;
    list-style-position: inside;

    a {
      max-width: 75%;
    }
  }

  &.inline-blacklist {
    margin-bottom: 1em;

    #blacklist-list {
      display: inline;

      li {
        display: inline;
        margin-right: 1em;

        a {
          max-width: 25%;
        }
      }
    }
  }
}

// Hide blacklist box on post index page only
#c-posts #a-index .post-preview.blacklisted {
  display: none;
}

#image-container.blacklisted, .post-thumbnail.blacklisted, .post-preview.blacklisted {
  img, video {
    height: 0px;
    width: 0px;
    padding: 150px 150px 0px 0px;
    background: url("images/blacklisted-preview.png");
  }

  #note-container {
    display: none;
  }
}
