@import "../base/005_vars.scss";

.box-section {
  background-color: $section-background;
  padding: $base_padding;
  margin-bottom: 1.5rem;
}

.box-section.sect_green {
  background-color: $success-color;
}

.box-section.sect_grey {
  background-color: $grey-color;
}

.box-section.sect_red {
  background-color: $error-color;
}
