.box-section {
  background-color: themed("color-section");
  padding: $base-padding;
  margin-bottom: 1.5rem;
  border-radius: $border-radius-half;

  &.background-green, &.background-grey, &.background-red, &.background-yellow {
    a:hover {
      // Legacy, not sure why this is here
      color: themed("color-text");
    }
  }
}
