.dtext-container {
  overflow: hidden;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
}

.styled-dtext {
  h1, h2, h3, h4, h5, h6 {
    padding: 0.8em 0 0.25em 0;
    line-height: 1em;
  }

  h1 {
    font-size: $dtext_h1_size;
  }

  h2 {
    font-size: $dtext_h2_size;
  }

  h3 {
    font-size: $dtext_h3_size;
  }

  h4 {
    font-size: $dtext_h4_size;
  }

  h5 {
    font-size: $dtext_h5_size;
  }

  h6 {
    font-size: $dtext_h6_size;
  }

  ul {
    margin-left: 1em;
    margin-bottom: 1em;

    ul {
      margin-bottom: 0;
    }
  }

  li {
    list-style-type: disc;
  }

  pre {
    font-family: monospace;
    font-size: 1.2em;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    white-space: pre-wrap;
  }

  code, .inline-code {
    font-family: monospace;
    white-space: pre-wrap;
    background-color: $dtext-code-background;
    padding: $padding-025;
  }

  div.expandable {
    >div.expandable-header {
      cursor: pointer;
      padding: 0.4em;

      >.section-arrow::after {
        content: '►';
      }

      span {
        margin-right: 0.5em;
        font-weight: bold;
      }
    }

    div.expandable-content {
      display: none;
      padding: 0.4em;

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  div.expandable.expanded {
    >div.expandable-content {
      display: block;
    }
    >div.expandable-header>.section-arrow::after {
        content: '▼';
    }
  }

  a.dtext-external-link::after {
    // https://fontawesome.com/icons/external-link-alt?style=solid
    @include font-awesome-icon();
    content: unicode("f35d");

    font-size: 0.6em;
    padding: 0 0.2em 0 0.3em;
    vertical-align: 1px;
  }

  div.expandable, pre, blockquote {
    padding: $padding-025;
    margin: 0 0 0.5rem;
    border-radius: $border-radius-half;
    border: 1px solid themed("color-section");
    border-left: 0.25rem solid themed("color-danger");
    background: themed("color-section-lighten-5");
  }

  pre {
    border-left-color: themed("color-dtext-code");
  }

  blockquote {
    border-left-color: themed("color-dtext-quote");
  }

  div.expandable {
    border-left-color: themed("color-dtext-section");
  }

  @each $tag-category, $tag-category-name in $tag-categories-short {
    .dtext-color-#{$tag-category} {
      color: themed("color-tag-#{$tag-category-name}");
    }

    .dtext-color-#{$tag-category-name} {
      color: themed("color-tag-#{$tag-category-name}");
    }
  }
}

div.post-thumbnail.dtext {
  position: relative;
  display: inline-block;
}

div.dtext-formatter {
  display: grid;
  grid-template-columns: min-content auto;
  background: #00000035;
  border-radius: 4px;
  position: relative;
  
  div.dtext-formatter-tabs {
    grid-area: 1 / 1 / 1 / 1;
    white-space: nowrap;
    padding: 0.5rem 0.75rem 0;
    a {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      margin-right: 0.5rem;
      border-radius: 4px 4px 0 0;
      outline: 0;
      font-weight: 500;
      cursor: pointer;
      @include nonselectable;
      &:hover { background: #ffffff15; }
    }
  }
  
  div.dtext-formatter-buttons {
    grid-area: 1 / 2 / 1 / 2;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.5rem;
    a {
      box-sizing: border-box;
      padding: 0.5rem 0.625rem;
      border-radius: 6px 6px 0 0;
      margin-right: 0.25rem;
      cursor: pointer;
      line-height: 1;
      @include nonselectable;
      @include font-awesome-icon;
      
      &:hover { background: #ffffff15; }
    }
    span { width: 1em; }
  }
  
  textarea.dtext-formatter-input,
  div.dtext-formatter-preview {
    grid-area: 2 / 1 / 2 / 3;
    width: 100% !important;
    max-width: unset !important;
    height: 100%;
    min-height: 8rem;
    box-sizing: border-box;
    border-top: 1px solid #00000035;
    padding: 0.25rem 0.5rem;
    font-family: inherit;
    font-size: 1em;
  }
  
  div.dtext-formatter-preview[loading="true"] {
    position: relative;
    &::before {
      content: "Loading . . .";
      font-size: 1.25rem;
      opacity: 0.20;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: loading-pulsate 4s linear infinite;
    }
    @keyframes loading-pulsate {
      from { opacity: 0; }
      50% { opacity: 0.6; }
      to { opacity: 0; }
    }
  }
  
  div.dtext-formatter-charcount {
    grid-area: 3 / 1 / 3 / 3;
    font-size: 0.75rem;
    line-height: 0.75rem;
    height: 0.75rem;
    position: absolute;
    right: 1.25rem;
    bottom: 0.15rem;
    pointer-events: none;
    &::before { content: attr(data-count) " / " attr(data-limit); }
    &[data-limit="0"]::before { content: attr(data-count); }
    &[data-count="0"] { visibility: hidden; }
    &:not([data-limit="0"]).overfill {
      color: orangered !important;
      font-weight: bold;
    }
  }
  
  // Preview toggle states
  &[data-editing="true"] {
    div.dtext-formatter-tabs {
      a[data-action="edit"] {
        pointer-events: none;
        background: #00000040;
      }
    }
    div.dtext-formatter-preview { display: none !important; }
    div.dtext-formatter-charcount { color: black; }
  }
  &[data-editing="false"] {
    div.dtext-formatter-tabs {
      a[data-action="show"] {
        pointer-events: none;
        background: #00000040;
      }
    }
    div.dtext-formatter-buttons { visibility: hidden; }
    textarea.dtext-formatter-input { display: none !important; }
  }
}

form.simple_form div.dtext-formatter textarea.dtext-formatter-input { font-size: 1em; }
