.post-gallery {
  display: grid;

  grid-template-areas:
    "search " 
    "content" 
    "sidebar";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 1rem;

  .search {
    grid-area: search;

    h1 {
      font-size: $h3-size;
    }
  }
  .sidebar {
    grid-area: sidebar;
    display:  none;

    h1 {
      font-size: $h3-size;
    }
  }
  .content {
    grid-area: content;
  }
}


// Desktop
.post-gallery {
  @include window-larger-than(800px) {
    grid-template-areas:
      "search  content" 
      "sidebar content";
    grid-template-columns: 15em 1fr;
    grid-template-rows: min-content 1fr;
  }
}
