a.decorated {
  // Wacky alignment hijinks
  display: inline-flex;
  align-items: center;

  span.link-decoration {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px; 
    line-height: 0;
    background-size: 16px 16px;
  }
}
