

div#search {
  margin-bottom: 1em;
}

div#search-box button {
  -webkit-appearance: button;
  border: 1px solid $search-box-border;
  background-color: $search-box-background;
  color: $search-box-color;
  &:hover, &:focus {
    border: 1px solid $search-box-hover-border;
    background-color: $search-box-hover-background;
  }
}

div#page {
  overflow: visible;
  margin: 0 1rem;
  padding: $half-padding;

  // Fix failure to contain contents in bounding box.
  &:after {
    display: block;
    visibility: hidden;
    content: '';
    clear: both;
  }

  div.site-notice {
    padding: $half-padding;
    text-align: center;
    position: relative;

    h1 {
      font-size: $h2-size;
    }

    p {
      margin: 0;
    }
  }

  aside#sidebar {
    width: 15em;
    float: left;

    h1 {
      font-size: $h3-size;
    }

    ul {
      list-style-type: none;
    }

    input[type=text] {
      /* ensure expanded search box renders above post thumbnails. */
      z-index: 1;
      position: relative;
    }

    button[type=submit] {
      padding: 2px 6px;
      background: $form-submit-button-background;
    }

    #search-box button[type=submit] {
      border-left: none;
    }

    #options-box i.fa-bookmark {
      margin-right: 0.25em;
    }
  }

  aside#sidebar > section {
    margin-bottom: 1em;
  }

  section#content {
    overflow: visible;
    margin-left: 15em;
    padding-left: 1em;
  }
}

.mobile-search {
  display: none;
}

footer#page-footer {
  clear: both;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  padding: $base-padding 0 $base-padding;
  border-top: 1px solid $hr-color;
}

div.clearfix {
  clear: both;
}
