

#maintoggle {
  display: none;
}

header#top {
  h1 {
    font-size: 2.5em;
    margin: 5px 1rem 0 1rem;
  }

  menu {
    margin-top: -2px;
    background: $menu-background;
    padding: 6px 1rem;

    form {
      display: inline-block;

      input {
        width: 9.5em;
      }
    }

    li {
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }

    li a {
      padding: 6px 10px;
    }
  }

  menu.main {
    margin-top: 0;
    background: none;

    li.current a {
      background: $menu-background;
      font-weight: bold;
    }

    li#nav-sign-in a {
      font-weight: bold;
      color: $page-header-sign-in-link-color;
    }

    li.forum-updated a {
      font-style: italic;
    }
  }

  menu:only-child {
    border-bottom: 2px solid $menu-background;
  }
}
