
header#top {
  display: flex;
  font-size: 1.05em;
  margin: 0 $base-padding 0.8rem;
  color: themed("color-text");
  background-color: themed("color-background");
  background-image: themed("image-background");

  span.nav-placeholder {
    flex: 1;
  }

  .logo, #maintoggle {
    font-size: 200%;
    margin: auto 0;
    width: 2em;
    cursor: pointer;
  }

  .logo {
    display: block;
    height: 1.5em;
    background-image: url("images/main-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  #maintoggle {
    display: none;
    text-align: right;
  }

  #subnav-height-placeholder {
    visibility: hidden;
  }

  menu {
    margin: 0;
    padding: 0;
    background-color: themed("color-foreground");

    form {
      display: inline-block;

      input {
        width: 9.5em;
        vertical-align: baseline;
        font-size: revert;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    li {
      display: inline-block;
      padding: 6px 10px;
      white-space: nowrap;
    }

    li.separator {
      background: themed(color-text);
      margin: 0;
      padding: 0;
      width: 1px;
      height: 1.25em;
      vertical-align: middle;
    }
  }

  menu.main {
    margin-top: 0;
    background-color: themed("color-background");

    li.current {
      border-radius: 4px 4px 0 0;
      background-color: themed("color-foreground");
      font-weight: bold;
    }

    li#nav-sign-in a {
      font-weight: bold;
      color: $page-header-sign-in-link-color;
    }

    li.forum-updated {
      font-style: italic;
    }
  }

  menu.secondary {
    border-radius: $border-radius-full;
  }
}
