

div.paginator {
  display: block;
  padding: 2em 0 1em 0;
  text-align: center;
  clear: both;

  menu {
    display: flex;
    justify-content: center;
  }

  li {
    a {
      margin: 0 0.25em;
      padding: 0.25em 0.75em;
    }

    a:hover {
      background: $paginator-hover-background;
      color: $paginator-hover-color;
    }

    &.more {
      color: $paginator-more-color;
    }

    span {
      margin: 0 0.25em;
      padding: 0.25em 0.75em;
      font-weight: bold;
    }
  }
}
