

.spoiler {
  color: $spoiler-color;
  background: $spoiler-background;
}

.spoiler a.dtext-link {
  color: $spoiler-color;
}

.spoiler:hover {
  color: $spoiler-hover-color;
}

.spoiler:hover a.dtext-link {
  @include themable {
    color: themed('color-spoiler-link');
    &:hover {
      color: themed('color-spoiler-link-hover');  
    }
  }
}
