@import "../base/000_vars.scss";

table.striped {
  p {
    margin: 0;
  }

  td, th {
    padding: 4px 6px;
  }

  tbody {
    tr {
      border-bottom: 1px solid $table_stripe_border_color;
    }
  }

  .number, .links {
    text-align: right;
  }

  thead {
    tr {
      border-bottom: 2px solid $table_stripe_border_color;
    }

    th {
      font-weight: bold;
      text-align: left;
      color: $table_stripe_header_text_color;
    }
  }
}

table.striped {
  tbody {
    tr {
      &:hover {
        background-color: $table_stripe_highlight_color;
      }

      &.selected {
        background-color: $table_stripe_highlight_color;
      }
    }
  }

  tr:nth-child(even) {
    background-color: $table_stripe_even_background_color;
  }
}

/*
 * A table where one column expands to fill the screen, while the
 * other columns shrink to fit their contents.
 */
table.autofit {
  td, th, .col-fit {
    white-space: nowrap;
    padding-right: 2em;
  }

  .col-expand {
    white-space: normal;
    width: 100%;
  }

  .col-normal {
    white-space: normal;
  }
}

table.search {
  tr {
    height: 2em;
  }

  th {
    text-align: right;
    padding-right: $base_padding;
    vertical-align: top;
  }

  td {
    vertical-align: top;
  }
}

table.aligned-vertical {
  @extend table.search;

  tr {
    height: 1.75em;
  }
}
