@import "../base/005_vars.scss";

a.user-admin.with-style {
  color: $rank-admin-color;
}

a.user-moderator.with-style {
  color: $rank-moderator-color;
}

a.user-contributor.with-style {
  color: $rank-contributor-color;
}

a.user-janitor.with-style {
  color: $rank-janitor-color;
}

a.user-privileged.with-style {
  color: $rank-privileged-color;
}

a.user-member.with-style {
  color: $rank-member-color;
}
