

a.user-admin.with-style {
  color: $rank-admin-color;
}

a.user-moderator.with-style {
  color: $rank-moderator-color;
}

a.user-janitor.with-style {
  color: $rank-janitor-color;
}

a.user-blocked.with-style {
  color: $rank-blocked-color;
  text-decoration: line-through;
}
