<div id="c-search-trends">
  <div id="a-show">
    <h1>
      Search Trends for <%= @tags.length > 3 ? "#{@tags.length} tags" : @tags.join(", ") %>
    </h1>

    <canvas id="search-trend-chart" data-tags="<%= @tags.join(",") %>"></canvas>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Trending Tags - <%= @tags.join(", ") %>
<% end %>

