<mj-section mj-class="container hex-bg">
  <mj-column>

    <mj-text mj-class="text">
      <h2>Hi, <%= @user.name %>!</h2>
      <p>
        We received a request to reset your password on <%= Danbooru.config.app_name %>.<br />
        To complete this process, please click the button below.
      </p>
    </mj-text>

    <mj-button
      mj-class="button"
      align="center"
      href="<%= edit_maintenance_user_password_reset_url(key: @nonce.key, uid: @nonce.user_id) %>"
    >
      Reset your password
    </mj-button>
    
    <mj-text mj-class="hint" align="center" padding-top="0">
      This link will expire in 6 hours.
    </mj-text>
    <mj-text mj-class="text">
      <p>If you did not ask to reset your password, please ignore this email, and your password will remain unchanged.</p>
    </mj-text>

  </mj-column>
</mj-section>
