<div class="fursona-check" style="display: none;">
  <div class="fursona-check-dialog">
    <h1 class="dialog-header">ID Check</h1>
    <div class="dialog-content">
      <div id="submission-info">
        <p>
          To comply with updated verification guidelines, we now require a digital representation of your <b>fursona</b>. 
          This ensures that all visitors meet community standards and engage responsibly.
        </p>
        <p>
          Please use the space below to <b>draw your fursona</b>.  
          Submissions will be reviewed automatically by <b>FurID™</b>, our trusted third-party verification system.  
          Your submission is used solely for verification and will not be shared.
        </p>
      </div>

      <div id="drawing-area" style="display: none;">
        <p><b>Your fursona</b></p>
        <div class="color-picker"></div>
        <canvas id="fursona-canvas" width="400" height="300"></canvas>
        <div class="brush-controls">
          <div class="tools">
            <div id="eraser" data-type="eraser"><%= svg_icon(:eraser) %></div>
            <div id="undo" data-type="undo"><%= svg_icon(:undo) %></div>
          </div>
          <div class="brush-picker"></div>
        </div>
      </div>

      <div id="submission-done" style="display: none;">
        <p>
          <b>Thank you for submitting your fursona!</b>
        </p>
        <p>
          Your submission is now being reviewed by FurID™.<br />
          You may choose to save a copy of your submission by clicking the button below.
          </p>
      </div>
    </div>
    <div class="dialog-footer">
      <button id="start-drawing">Start Verification</button>
      <button id="submit-fursona" style="display: none;">Submit for Verification</button>
      <button id="download-fursona" style="display: none;">Download Fursona</button>
      <button id="close-dialog" style="display: none">Close Verification</button>
    </div>
  </div>
</div>
