<div class="guest-warning" style="display: none;">
  <div class="guest-warning-dialog">
    <h1 class="dialog-header">Over 18?</h1>
    <div class="dialog-content">
    <p>
      You must be <b>18 years or older</b> and agree to the <%= link_to "terms of service", terms_of_service_path, target: "_blank" %> to access this website.
    </p>
    <p>
      Content that is commonly considered objectionable is blacklisted by default.
      You may remove tags from this blacklist using the corresponding menu item.
    </p>
    </div>
    <div class="dialog-footer">
      <button id="guest-warning-accept">I agree and am over 18</button>
      <button id="guest-warning-decline">I do not agree, or am not over 18</button>
    </div>
  </div>
</div>
