<div class="guest-warning" style="display: none;">
  <div class="guest-warning-dialog">
    <h1 class="dialog-header">Over 18?</h1>
    <div class="dialog-content">
    <p>
      You must be over the age of 18 and agree
      to <%= link_to "the terms of service", terms_of_service_path, target: "_blank" %> to access this page.
    </p>
    <p>
      By default a limited blacklist has been applied hiding content that is commonly objected to. You may remove
      items from this blacklist by using the blacklist menu item.
    </p>
    </div>
    <div class="dialog-footer">
      <button id="guest-warning-accept">I agree and am over 18</button>
      <button id="guest-warning-decline">I do not agree, or am not over 18</button>
    </div>
  </div>
</div>
