<div id="c-static">
  <div id="a-contact">
    <h1>Contact</h1>

    <h2>Questions &amp; Comments</h2>

    <p>You can reach the administrator of this site at <%= mail_to Danbooru.config.contact_email, nil, :encode => :hex %>.</p>
    <p>For advertising inquiries please see <%= link_to "this forum post", forum_topic_path(id: 30870) %>. The above email address cannot address advertising inquiries.</p>
  </div>
</div>

<%= render "static/secondary_empty" %>

<% content_for(:page_title) do %>
  Contact
<% end %>
