<div id="c-static"><div id="a-discord">
  <h1>Discord Server</h1>
  <div class="dtext-container">
    <%= format_text(@page.body, allow_color: true) %>
  </div>
  <%= form_tag(discord_post_path) do %>
    <%= submit_tag "Join the Server", class: "st-button submit" %>
  <% end %>
</div></div>

<% content_for(:secondary_links) do %>
  <% if CurrentUser.is_staff? %>
    <%= subnav_link_to "Wiki Page", show_or_new_wiki_pages_path(title: @page_name) %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  Discord Server
<% end %>
