<div id="c-static">
  <div id="a-keyboard-shortcuts">
    <h1>Keyboard Shortcuts</h1>

    <div id="hotkeys-wrapper"></div>
  </div>
</div>

<% content_for(:page_title) do %>
  Keyboard Shortcuts
<% end %>
