<div id="c-static">
  <div id="a-site-map">
    <% sections = @sections || {} %>
    <% section_titles = @section_titles || {} %>
    <% section_groups = @section_groups || [] %>

    <% section_groups.each do |group| %>
      <section>
        <% group.each do |key| %>
          <% links = sections[key] %>
          <% next if links.blank? %>
          <h3><%= section_titles.fetch(key, key.to_s.titleize) %></h3>
          <ul>
            <%= safe_join(links.map { |link| content_tag(:li, link) }, "\n") %>
          </ul>
        <% end %>
      </section>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Site Map
<% end %>
