<div id="c-static">
  <div id="a-site-map">
    <% (@sections || []).each do |section| %>
      <% next if section[:links].blank? %>
      <section>
        <h3><%= section[:title] %></h3>
        <ul>
          <% section[:links].each do |link| %>
            <li><%= link_to link[:label], link[:path] %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Site Map
<% end %>
