<div id="c-static">
  <div id="a-site-map">
    <% sections = @sections || [] %>

    <% sections.each do |group| %>
      <section>
        <% group.each do |section| %>
          <% links = section[:links] %>
          <% next if links.blank? %>
          <h3><%= section[:title] %></h3>
          <ul>
            <% links.each do |link| %>
              <li><%= link_to link[:label], link[:path] %></li>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Site Map
<% end %>
