<div id="c-static">
  <div id="a-subscribestar">

    <div class="dtext-container">
    <%= format_text(@page.body, allow_color: true) %>
    </div>
  </div>
</div>

<% content_for(:page_title) do %>
  SubscribeStar
<% end %>
