<div id="static-more">
  <h2>Takedown Policy and Process:</h2>
  <p>We strive to make sure that this site has a wide variety of content for users to enjoy, but we also place great importance on ensuring that the content we host does not infringe upon artists' or character owners' copyrights. In addition to that we also respect the commissioner' wishes on art they have paid for.</p>
  <p>If you are an artist, character owner, or commissioner who has your work hosted on this site and you do not wish for it to be, please <%= link_to "submit a takedown request", new_takedown_path() %>. The request will be handled as soon as possible.</p>
  <p>Please note that we will only honor art removal requests from the following parties:</p>
  <ul>
    <li>Legal copyright holder of the artwork</li>
    <li>Legal copyright holder of the character(s)</li>
    <li>The commissioner(s) of the artwork</li>
  </ul>
  <p>Please consult the guide below for further information regarding when it's acceptable to submit a takedown request and when it's not.</p>
  <p>You <span style="font-weight:bold;">SHOULD</span> <%= link_to "submit a takedown request", new_takedown_path() %> request if you are one of the following:</p>
  <ul>
    <li>Artist wanting their own artwork removed.</li>
    <li>Character owner wanting artwork featuring their character removed.</li>
    <li>A commissioner who has paid for the artwork in question.</li>
    <li>Publisher wanting a publication or excerpts of a publication removed. Please note that these takedowns can potentially be a little trickier to handle properly, and so communication with a site admin will likely be needed after submitting the takedown request.</li>
  </ul>
  <p>You <span style='font-weight:bold;'>SHOULD NOT</span> submit a takedown request if you are one of the following:</p>
  <ul>
    <li>User wanting artwork removed because they believe it breaks a site rule. You should instead use the site's Flag For Deletion tool (found on every post's page) for each post that you wish to dispute.</li>
    <li>Friend, relative, or fan of an artist, character owner, or commissioner who wishes to act as a middlemen for the artist, character owner, or commissioner.</li>
    <li>Commissioner or character owner wanting to remove art that the artist themselves has posted. In those cases please ask the artist to file a takedown request for you.</li>
  </ul>
  <p>If you wish to be added to our Do-Not-Post list please refer to the instructions provided <%= link_to "here", wiki_page_path(id: 'avoid_posting', anchor: 'get_dnp') %>.</p>
  <p>If you wish to file a fully fledged DMCA notice please have all relevant documents sent to takedowns at e621.net.</p>
</div>
<div class="Clear">&nbsp;</div>
