

<h3 class="text-error" id="no_save_warning" style="display:none;">
  Your device does not allow the site to save theme settings.
</h3>
<noscript>
  <h3 class="text-error" id="no_save_warning">Your device does not allow the site to save theme settings.</h3>
</noscript>

<div class="simple_form theme-form">

  <h3>Theme Preferences</h3>

  <p class="theme-info">
    Theme settings are saved locally in your browser.
    This means that they will not persist across multiple devices, or in incognito mode.
  </p>

    <label for="Theme_Main">Theme</label>
    <select id="Theme_Main">
      <option value="hexagon">Hexagon</option>
      <option value="bloodlust">Bloodlust</option>
      <option value="pony">Pony</option>
      <option value="serpent">Serpent</option>
      <option value="hotdog">Hotdog</option>
    </select>

    <label for="Theme_Extra">Embellishments</label>
    <select id="Theme_Extra">
      <option value="none">(None)</option>
      <option value="aurora">Aurora</option>
      <option value="autumn">Autumn</option>
      <option value="hexagon">Hexagon</option>
      <option value="space">Space</option>
      <option value="spring">Spring</option>
      <option value="stars">Stars</option>
      <option value="winter">Eternal Winter</option>
    </select>

  <h3>Accessibility</h3>
    <label for="Theme_Palette">Palette</label>
    <select id="Theme_Palette">
      <option value="default">Default</option>
      <option value="deut">Protanopia & Deuteranopia</option>
      <option value="trit">Tritanopia</option>
    </select>

  <h3>Features</h3>
    <label for="Theme_ForumNotif">Forum Activity Dot</label>
    <select id="Theme_ForumNotif">
      <option value="false">Disabled</option>
      <option value="true">Enabled</option>
    </select>

    <label for="Posts_WikiExcerpt">Wiki Excerpt</label>
    <select id="Posts_WikiExcerpt">
      <option value="0">Collapsed</option>
      <option value="1">Expanded</option>
      <option value="2">Disabled</option>
    </select>

  <h3>Navigation</h3>
    <label for="Theme_StickyHeader">Sticky Header</label>
    <select id="Theme_StickyHeader">
      <option value="false">Disabled</option>
      <option value="true">Enabled</option>
    </select>

    <label for="Posts_StickySearch">Sticky Searchbar</label>
    <select id="Posts_StickySearch">
      <option value="false">Disabled</option>
      <option value="true">Enabled</option>
    </select>

    <label for="Theme_Navbar">Navbar location</label>
    <select id="Theme_Navbar">
      <option value="top">Top (default)</option>
      <option value="bottom">Bottom</option>
      <option value="both">Both</option>
      <option value="none">Off (not recommended)</option>
    </select>

    <label for="Theme_Gestures">Mobile Gestures</label>
    <select id="Theme_Gestures">
      <option value="false">Disabled</option>
      <option value="true">Enabled</option>
    </select>
    <div class="hint">Swipe left for next page/image. Swipe right for previous page/image.</div>
</div>


<div class="simple_form theme-variable-form">
  <h3>Variables</h3>

  <label for="mascot-reset">Mascot</label>
  <span id="mascot-value"></span>
  <button class="st-button" id="mascot-reset">
    <%= svg_icon(:reset) %>
    Reset 
  </button>
</div>

<% content_for(:page_title) do %>
  Themes
<% end %>
