

<h3 class="text-error" id="no_save_warning" style="display:none;">
  Your device does not allow the site to save theme settings.
</h3>
<noscript>
  <h3 class="text-error" id="no_save_warning">Your device does not allow the site to save theme settings.</h3>
</noscript>

<div class="simple_form theme-form">

  <h3>Theme Preferences</h3>

  <p class="theme-info">
    Theme settings are saved locally in your browser.
    This means that they will not persist across multiple devices, or in incognito mode.
  </p>

    <label for="theme_main">Theme</label>
    <select id="theme_main">
      <option value="hexagon">Hexagon</option>
      <option value="bloodlust">Bloodlust</option>
      <option value="pony">Pony</option>
      <option value="serpent">Serpent</option>
      <option value="hotdog">Hotdog</option>
    </select>

    <label for="theme_extra">Embellishments</label>
    <select id="theme_extra">
      <option value="none">(None)</option>
      <option value="aurora">Aurora</option>
      <option value="autumn">Autumn</option>
      <option value="hexagon">Hexagon</option>
      <option value="space">Space</option>
      <option value="spring">Spring</option>
      <option value="stars">Stars</option>
      <option value="winter">Eternal Winter</option>
    </select>

    <label for="theme_stickyheader">Sticky Header</label>
    <select id="theme_stickyheader">
      <option value="false">Disabled</option>
      <option value="true">Enabled</option>
    </select>

    <label for="theme_forumnotif">Forum Activity Dot</label>
    <select id="theme_forumnotif">
      <option value="false">Disabled</option>
      <option value="true">Enabled</option>
    </select>

  <h3>Accessibility</h3>
    <label for="theme_palette">Palette</label>
    <select id="theme_palette">
      <option value="default">Default</option>
      <option value="deut">Protanopia & Deuteranopia</option>
      <option value="trit">Tritanopia</option>
    </select>

  <h3>Navigation</h3>
    <label for="theme_navbar">Navbar location</label>
    <select id="theme_navbar">
      <option value="top">Top (default)</option>
      <option value="bottom">Bottom</option>
      <option value="both">Both</option>
      <option value="none">Off (not recommended)</option>
    </select>

    <label for="theme_gestures">Mobile Gestures</label>
    <select id="theme_gestures">
      <option value="false">Disabled</option>
      <option value="true">Enabled</option>
    </select>
    <div class="hint">Swipe left for next page/image. Swipe right for previous page/image.</div>
  
</div>

<% content_for(:page_title) do %>
  Themes
<% end %>
