.video-player media-container {
  position: relative;
  display: grid;
  user-select: none;

  video {
    width: 100%;
  }

  media-controls {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;

    .controls-backdrop {
      position: absolute;
      inset: 0;
      pointer-events: none;
      background: linear-gradient(to bottom, transparent 75%, var(--color-background) 100%);
    }

    media-controls-content {
      margin: 1.5rem;
      z-index: 1;
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 1rem;

      .icon {
        display: none;
        margin: -0.5rem;

        &.show {
          display: block;
        }
      }

      .media-group-basic, .media-group-extra {
        display: flex;
        gap: .5rem;
      }

      .media-group-playback {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: .25rem;
      }

      .fullscreen-button {
        &[data-fullscreen] .icon.exit {
          display: block;
        }

        &:not([data-fullscreen]) .icon.enter {
          display: block;
        }
      }

      .play-button {
        background-color: palette("background-gold-d10");
        --kinetic-color: #{palette("background-gold-d30")};
        color: black;

        &[data-paused] .icon.play {
          display: block;
        }

        &:not([data-paused]) .icon.pause {
          display: block;
        }
      }
    }

    &[data-user-active] {
      opacity: 1;
      pointer-events: unset;
    }
  }
}