<p>
  As a general rule, you should only approve of posts that you personally like. Posts that are not approved in three days will be automatically deleted. 
</p>

<p>
  Posts with score -3 or lower are marked red.
  Posts with score 3 or higher are marked green. 
</p>
