<div class="c-avoid-postings">
  <div class="a-new">
    <h1>New Avoid Posting</h1>

    <%= error_messages_for :avoid_posting %>
    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  New Avoid Posting
<% end %>
