@use "utility/std";
@use "utility/theme";
@use "utility/palette";


// Form overrides and defaults

button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
  padding: 0.125rem;
  margin: 0;

  border: 0;
  @include std.radius;
}

label {
  font-weight: bold;
  white-space: nowrap;
}

textarea {
  display: block;
  font-family: monospace;
  font-size: 1.2em;
}


// simple_form overrides

.simple_form {
  margin: 0 0 1em 0;

  div.input.boolean label {
    display: inline;
    margin-right: 0.25em;
  }

  div.input {
    margin-bottom: 1em;

    input[type=text], input[type=file], input[type=password], input[type=email] {
      max-width: 100%;
    }

    span.hint {
      display: block;
      font-size: 70%;
    }

    label {
      display: block;
      font-weight: bold;
      line-height: 1.5em;
    }

    fieldset {
      border: none;
      display: inline;
      margin: 0;
      padding: 0;

      label, .input {
        font-weight: normal;
        width: auto;
        margin-right: 2em;
        display: inline;
      }
    }
  }

  div.collection-radio-buttons {
    input { display: none; }

    input + label {
      @extend .button;
      // Overwrite the themed color from the imported class, which has higher specificity
      color: black !important;
      background-color: white;
      margin: 0 0.75rem 0.25rem 0;
      font-weight: normal;
      cursor: pointer;
    }

    input:checked + label {
      background-color: theme.color("button-active");
    }
  }
}


// Custom elements

.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  border: 0;
  color: theme.color("text-white");

  &.btn-danger {
    color: theme.color("text-white");
    background: theme.color("danger");
    &:hover {
      background: theme.color("danger-darken-5");
    }
  }
  &.btn-warn {
    color: theme.color("text-white");
    background: theme.color("warning");
    &:hover {
      background: theme.color("warning-darken-5");
    }
  }
  &.btn-success {
    color: theme.color("text-white");
    background: theme.color("success");
    &:hover {
      background: theme.color("success-darken-5");
    }
  }
  &.btn-neutral {
    color: theme.color("text-white");
    background: theme.color("section");
    &:hover {
      background: theme.color("section-lighten-5");
    }
  }
  &.score-positive {
    color: palette.text("white");
    background: palette.background("green");
    &:hover {
      background: palette.background("green-d5");
    }
  }
  &.score-negative {
    color: palette.text("white");
    background: palette.background("red");
    &:hover {
      background: palette.background("red-d5");
    }
  }
  &.score-neutral {
    color: palette.text("grey");
    background: theme.color("section");
    &:hover {
      background: theme.color("section-darken-5");
    }
  }
}
