@use "utility/user_levels";
@use "utility/theme";

@each $level in user_levels.$levels {
  a.user-#{$level}.with-style {
    color: theme.color("user-#{$level}");

    &:hover {
      color: theme.color("user-#{$level}-alt");
    }
  }
}

a.user-blocked.with-style {
  text-decoration: line-through;
}

svg.chexagon {
  height: 1em;
  width: 1em;
  vertical-align: sub;
  color: theme.color("tag-artist");
  .check { color: theme.color("text"); }
}

/* Used for the icon indicating a flag was made by the uploader. */
svg.text-inline {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}
