

body.c-search-trends.a-index,
body.c-search-trend-hourlies.a-index {
  .search-trend-container {
    display: flex;
    flex-flow: column;
    width: min-content;
    background: themed("color-foreground");

    width: 100%;
    max-width: 448px;
    background: #00000030;

    padding: 1rem;
    margin-bottom: 1rem;
    @include st-radius;
  }

  .search-trend-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    a, span {
      display: flex;
      align-items: center;
    }
  }

  #trends_search_form {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: themed("color-section");
    width: min-content;

    input[type="text"] { width: unset !important }
  }
}

body.c-search-trends.a-track {
  #search-trend-chart {
    background-color: themed("color-section");
    @include st-radius;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }
}
