<div id="c-post-report-reasons">
  <div id="c-edit">
    <h1>Edit Post Report Reason</h1>

    <%= render "form" %>
  </div>
</div>


<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Post Report Reason
<% end %>
