<div id="c-post-report-reasons">
  <div id="a-new">
    <h1>New Post Report Reason</h1>

    <%= render "form" %>
  </div>
</div>


<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  New Post Report Reason
<% end %>
