#page { position: relative; }

#dialog-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 250; // Above the navbar (200)
  pointer-events: none;

  .dialog {
    display: flex;
    flex-flow: column;
    position: absolute;
    pointer-events: all;
    z-index: 250; // Individual dialogs are focused higher
    outline: none !important; // Disable focus outline for dialogs
    &.hidden { display: none; }

    // Styles
    color: themed("color-text");
    background: themed("color-section");
    border: 1px solid themed("color-section-darken-5");
    box-sizing: border-box;
    @include st-radius;
    box-shadow: 0 0 0.5rem -1px themed("color-background");

    .simple_form { margin: 0; }

    // === Header Element ===
    &-header {
      display: flex;
      @include st-radius-top;
      cursor: grab;

      background-color: themed("color-section-darken-5");

      span {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem;
        font-family: "Roboto", Verdana, Geneva, sans-serif;

        // Yield pointer events to the header for dragging
        pointer-events: none;
      }

      button {
        margin-left: auto;
        border-bottom-right-radius: 0;

        background-color: transparent;
        &:hover, &:active {
          background-color: palette("background-red");
        }
      }
    }
    &.dragging .dialog-header { cursor: grabbing; }

    // === Content Element ===
    &-content {
      flex: 1;
    }
  }
}
