$avatar-height: 4.5rem;

.user-card {
  display: grid;
  grid-template-columns: $avatar-height auto min-content;
  width: 22rem;
  gap: 0.5rem;

  background: themed("color-section");
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem 0;

  & &-avatar {
    --thumb-image-size: #{$avatar-height};
    position: relative;

    article.thumbnail {
      box-shadow: 0 0 0.5rem -0.25rem themed("color-background");
    }

    .user-card-level {
      position: absolute;
      background: themed("color-button-active");
      color: palette("plain-black");
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      line-height: 0;
      font-size: 0.75rem;
      bottom: -0.25rem;
      right: -0.25rem;
      border: 0.125rem solid themed("color-section");
      font-weight: bold;
    }
  }

  & &-feedback {
    grid-column: 3;
    grid-row: 1 / -1;

    a.user-records-list {
      height: $avatar-height;
      flex-flow: column;
      justify-content: space-evenly;

      svg.user-record {
        height: 1rem;
        width: 1rem;
      }
    }
  }


  & &-info {
    display: flex;
    flex-flow: column;

    .user-card-name {
      max-width: 14.5rem;
      overflow: hidden;

      a {
        display: block;
        line-height: 1.5rem;
        font-size: 1.25rem; // When adjusting this, also adjust the value in ProfileCard.ts
        color: themed("color-text");
      }
    }

    .user-card-joined {
      line-height: 1rem;
      font-size: 0.75rem;
      font-family: "Roboto";
      color: themed("color-text-muted");
    }

    .user-card-rank {
      height: 2rem;
      display: flex;
      align-items: flex-end;
      gap: 0.25rem;
    }
  }

  & &-karma {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;

    &-percent {
      position: absolute;
      line-height: 1rem;
      font-size: 0.75rem;
      color: themed("color-text-muted");
      top: -1rem;
      right: 1.5rem;
      font-family: monospace;
    }

    &-progress {
      height: 0.125rem;
      background: themed("color-section-lighten-5");
      margin: 0 -0.5rem;
      border-radius: 0 0 0.25rem 0.25rem;
      overflow: hidden;

      &-bar {
        background: themed("color-button-active");
        height: 100%;
      }
    }
  }
}
