<% content_for(:page_title) { "New Automod Rule" } %>

<div id="c-admin-automod-rules">
  <div id="a-new">
    <h1>New Automod Rule</h1>

    <%= render "form" %>

    <%= link_to "Back", admin_automod_rules_path %>
  </div>
</div>

<%= render "secondary_links" %>
