:root {
  --post-events-columns: max-content max-content max-content 1fr;
}

div#c-post-events {
  .post-events-listing {
    display: grid;
    grid-template-columns: var(--post-events-columns);
    gap: 0;
    grid-auto-rows: auto;
  }

  .post-events-listing-header,
  .post-event-item {
    display: contents;
  }

  .post-events-listing-header > .post-events-header-item {
    padding: $padding-050 $padding-025;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: themed("color-section-darken-5");
    border-bottom: 1px solid themed("color-foreground");
    color: themed("color-text-table-header");
    font-weight: bold;
  }

  .post-events-listing-header > .event-post,
  .post-event-item > .event-post {
    grid-column: 1;
  }

  .post-events-listing-header > .event-type,
  .post-event-item > .event-type {
    grid-column: 2;
  }

  .post-events-listing-header > .event-user,
  .post-event-item > .event-user {
    grid-column: 3;
  }

  .post-events-listing-header > .event-info,
  .post-event-item > .event-info {
    grid-column: 4;
  }

  .post-events-list-items {
    display: contents;
    
    .post-event-item {
      &:hover {
        background-color: themed("color-section-lighten-10");
      }

      &.selected {
        background-color: themed("color-section-lighten-10");
      }

      .event-data {
        padding: $padding-050 $padding-025;
        display: block;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        background-color: themed("color-section");
        border-bottom: 1px solid themed("color-table-border");

        &.event-post,
        &.event-type {
          white-space: nowrap;
        }

        &.event-user {
          max-width: none;
          word-break: keep-all;
          white-space: nowrap;
        }

        &.event-info {
          padding: $padding-050 $padding-025;

          .col-expand {
            width: 100%;
            white-space: normal;
          }

          .full-width-link {
            padding: 0;
            overflow-wrap: anywhere;

            > a {
              width: 100%;
              display: inline-block;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
