<div class="section" style="float: left; margin: 10px; padding: 5px; width: 97%;">
  <% if blips.empty? %>
    <p>No blips</p>
  <% else %>
    <% blips.each do |blip| %>
      <% next unless blip.can_view?(current_user) %>
      <div class="response-list"><%= render partial: "blip/blip", locals: {blip: blip} %></div>
    <% end %>
  <% end %>
</div>
