<div id="c-post-replacements">
  <div id="a-index">
    <h1>Post Replacements</h1>

    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <table class="striped autofit" style="max-width:100%">
      <thead>
        <tr>
          <th>Replacement</th>
          <th>Post</th>
          <th>Creator </th>
          <th></th>
          <th></th>
          <% if CurrentUser.is_admin? || CurrentUser.can_approve_posts? %>
            <th>Actions</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "post_replacements/partials/show/post_replacement", collection: @post_replacements, as: :post_replacement %>
      </tbody>
    </table>

    <%= numbered_paginator(@post_replacements) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Post Replacements
<% end %>
