<div id="c-post-replacements">
  <div id="a-index">
    <h1>Post Replacements</h1>

    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <div class="post-replacements-grid">
      <%= render partial: "post_replacements/partials/show/post_replacement", collection: @post_replacements, as: :post_replacement %>
    </div>

    <%= numbered_paginator(@post_replacements) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Post Replacements
<% end %>
