<div id="c-post-replacements">
  <div id="a-new">
    <%= render "new", post_replacement: @post_replacement, post: @post %>
  </div>
</div>

<% content_for(:page_title) do %>
  New Post Replacement - #<%= @post_replacement.post_id %>
<% end %>
