#c-admin-dashboards {
  .section {
    margin-bottom: 2em;
  }
}
#c-admin-vote-trends { 
  // for both th and td: 
  th, td {
    text-align: left;
    padding-right: 0.5rem;
    padding-bottom: 0.10rem;
  }
}