#c-static #a-avoid-posting {
  margin-left: 0.25em;

  #avoid-posting-list {
    h2 {
      margin-top: 1.25em;
      font-size: 1.8em;
      line-height: 1em;
      margin-bottom: .25em;
    }

    ul {
      margin-left: 1em;

      li {
        list-style-type: disc;
      }
    }
  }
}
