@import "../base/005_vars.scss";

#c-bans #a-index {
  tr[data-expired="true"] {
    background-color: $state-success-color !important;

    &:hover {
      background-color: darken($state-success-color, 5%) !important;
    }
  }

  tr[data-expired="false"] {
    background-color: $state-error-color !important;

    &:hover {
      background-color: darken($state-error-color, 5%) !important;
    }
  }
}
