

div.comments-for-post {
  div.notices {
    margin: 1em 0;
  }

  div.list-of-comments {
    background-color: $comment-list-background;
    //padding: $base-padding;
    article.comment {
      @include section-box-shadow;
      border-radius: $border-radius-half;
      background: $comment-background;
      word-wrap: break-word;
      margin-bottom: $half-padding;
      display: flex;

      &[data-is-sticky="true"] {
        background: $comment-sticky-background;
      }

      &[data-is-deleted="true"] {
        background: $comment-hidden-background;
      }

      div.author {
        background-color: $comment-author-background;
        padding: 1em 1em 0 1em;
        width: 154px;
        flex-shrink: 0;

        .author-info {
          h1 {
            display: block;
            font-size: $h3-size;
          }
        }
      }

      div.content {
        padding: $half-padding;
        menu {
          li {
            margin-right: 1em;
          }
        }

        .comment-vote-up-link:hover, .comment-vote-down-link:hover {
            background-color: $comment-vote-background;
            border-radius: $border-radius-half;
        }
      }
    }

    article.comment.below-threshold:not([data-is-sticky="true"]) {
      opacity: 0.3;
    }

    article.comment.below-threshold:hover {
      opacity: 1.0;
    }
  }
}

//div#c-posts {
//  div.comments-for-post {
//    float: left;
//  }
//}

div#c-comments {
  div#a-index, div#a-show {
    div.header {
      span.info {
        margin-right: 1.5em;
      }

      strong, time {
        margin-right: 0.3em;
      }

      div.notices {
        margin: 1em 0;
      }

      div.list-of-tags {
        .comment-tag-hide-link::before {
          content: "Hide Tags";
        }
        &.hidden {
          .tag-list {
            display: none;
          }
          .comment-tag-hide-link::before {
            content: "Show Tags";
          }
        }
      }
    }

    div.preview {
      margin-right: 30px;
      text-align: center;
    }

    div.post-preview {
      @include section-box-shadow;
      background-color: $comment-post-background;
      padding: $half-padding;
      &[data-tags~=animated], &[data-file-ext=swf], &[data-file-ext=webm], &[data-file-ext=zip], &[data-file-ext=mp4] {
        div.preview {
          position: relative;

          &:before {
            @include animated-icon;
          }
        }
      }

      &[data-has-sound=true] {
        div.preview {
          position: relative;

          &:before {
            @include sound-icon;
          }
        }
      }
    }

    div.post {
      display: flex;
      margin-bottom: 4em;
    }
  }
}

form.edit_comment div.input.boolean {
  display: inline-block;

  label {
    font-weight: normal;
    vertical-align: initial;
  }
}
