

div.comments-for-post {
  div.notices {
    margin: 1em 0;
  }

  div.list-of-comments {
    background-color: $comment-list-background;
    //padding: $base-padding;
    article.comment {
      border-radius: $border-radius-half;
      word-wrap: break-word;
      margin-bottom: $padding-050;

      &[data-is-sticky="true"] {
        background: $comment-sticky-background;
      }

      &[data-is-deleted="true"] {
        background: $comment-hidden-background;
      }

      div.content {
        .comment-vote-up-link:hover, .comment-vote-down-link:hover {
            background-color: $comment-vote-background;
            border-radius: $border-radius-half;
        }
      }
    }

    article.comment.below-threshold:not([data-is-sticky="true"]) {
      opacity: 0.3;
    }

    article.comment.below-threshold:hover {
      opacity: 1.0;
    }
  }
}

div#c-comments {
  div#a-index, div#a-show {
    div.header {
      span.info {
        margin-right: 1.5em;
      }

      strong, time {
        margin-right: 0.3em;
      }

      div.notices {
        margin: 1em 0;
      }

      div.list-of-tags {
        .comment-tag-hide-link::before {
          content: "Hide Tags";
        }
        &.hidden {
          .tag-list {
            display: none;
          }
          .comment-tag-hide-link::before {
            content: "Show Tags";
          }
        }
      }
    }

    div.preview {
      margin-right: 30px;
      text-align: center;
    }

    div.post-preview {
      background-color: $comment-post-background;
      padding: $padding-050;
    }

    div.post {
      display: flex;
      margin-bottom: 4em;
    }
  }
}

form.edit_comment div.input.boolean {
  display: inline-block;

  label {
    font-weight: normal;
    vertical-align: initial;
  }
}
