@import "../base/000_vars.scss";

#filedropzone {
  border: 4px dashed #DDD;
  padding: 0;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border_radius;

  .placeholder {
    font-style: italic;
    color: #333;
    height: 100%;
  }

  &.error {
    border-color: border_color(#f2dede);
    background-color: #f2dede;
  }

  &.success {
    border-color: border_color(#dff0d8);
    background-color: #dff0d8;
  }
}

.dz-preview {
  margin-bottom: 1em;
}

.dz-progress {
  height: 20px;
  width: 300px;
  border: 1px solid #CCC;

  .dz-upload {
    background-color: #F5F5FF;
    display: block;
    height: 20px;
  }
}
