@import "../base/005_vars.scss";

#c-edit-history {
  .edit-item {
    display: flex;
    &>div {
      margin-right: 1em;
      display: inline-block;
    }
  }

  ins {
    background-color: $success-color;
    font-weight: bold;
  }
  del {
    background-color: $error-color;
    font-weight: bold;
  }
}
