div#c-static div#a-keyboard-shortcuts {

  #hotkeys-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content 1fr);
    width: min-content;
    gap: 0.75rem 1rem;
    align-items: center;
  }

  // Category header
  h3 {
    grid-column: 1 / -1;
    margin-left: 1rem;
  }

  .hotkey-title {
    margin-left: 1rem;
    text-align: right;
  }

  // Buttons
  .hotkey-keys {
    display: flex;
    gap: 0.25rem;

    &[default="true"] button.hotkey-reset { visibility: hidden; }
  }

  button.hotkey-rebind {
    width: 6rem;
    height: 1.5rem;
    text-align: center;

    background: palette("plain-white");
    font-family: "Roboto", Verdana, Geneva, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.25rem;

    &[ready="true"] { background-color: palette("background-gold"); }
    &:hover { background-color: palette("background-gold-l10"); }

    &:first-child {
      @include st-radius-left;
    }
    &:last-child {
      @include st-radius-right;
    }
  }

  button.hotkey-reset {
    background: unset;
    padding: 0 0.25rem;
    margin: 0;
    font-size: 0;
    color: themed("color-link");
    &:hover { color: themed("color-link-hover"); }

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  // Placeholder icon copied into the reset buttons
  .hotkey-reset-icon { display: none; }
}
