div#c-post-replacements {
  .replacement-pending-row {
    @include themable {
      background-color: darken( themed("color-danger"), 10%);
    }
  }

  .replacement-processing-row {
    @include themable {
      background-color: darken( themed("color-warning"), 10%);
    }
  }

  .replacement-reason {
    white-space: pre-wrap;
  }

  .disabled-link {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    @include themable {
      color: themed("color-text-muted");
    }
  }

  .upload_preview_img {
    max-width: 100%;
  }
}
