.post-index {
  display: grid;

  grid-template-areas:
    "search " 
    "content" 
    "sidebar";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 1em;

  // 1. Searchbox
  .search {
    grid-area: search;

    h1 {
      font-size: $h3-size;
    }
  }

  // 2. Content
  .content {
    grid-area: content;

    // Quick tag edit
    #edit-dialog textarea {
      margin-bottom: 0.25em;
    }

    // Actual content area:
    // posts and pagination
    .post-index-gallery {
      display: flex;
      flex-flow: column;
      gap: 1em;
    }
  }

  // 3. Sidebar
  .sidebar {
    grid-area: sidebar;

    display: flex;
    flex-flow: column;
    gap: 1em;

    // Mode selection
    #mode-box-mode, #mode-box #set-id {
      width: 100%;

      // Match the searchbox
      padding: 0.5em;
      font-family: Verdana, sans-serif;
      font-size: 1.05em;
    }
  }
}


// Desktop
.post-index {
  @include window-larger-than(800px) {
    grid-template-areas:
      "search  content" 
      "sidebar content";
    grid-template-columns: 15em 1fr;
    grid-template-rows: min-content 1fr;
  }
}


// FEATURES
// Wiki Excerpt
.wiki-excerpt {
  display: flex;
  flex-flow: column;
  position: relative;

  background: var(--color-section);

  // header
  h3 {
    cursor: pointer;
    padding: 0.5em 1em 0.5em 1.5em;

    &::after {
      @include font-awesome-icon;
      content: unicode("f0da");

      transition: transform 0.25s;

      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5em;
    }
  }

  // body
  .styled-dtext {
    background: linear-gradient(to top, var(--color-section), var(--color-text));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    max-height: 0em;
    max-width: 50rem;
    overflow: hidden;
    padding: 0 0.5em;

    transition: max-height 0.25s;

    // Disable links
    pointer-events: none;
    cursor: unset;

    a {
      color: unset;
      text-decoration: underline;
      &::after { content: none; }
    }

    p:last-child { margin-bottom: 0; }
  }

  // wiki link
  .wiki-excerpt-readmore {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 3em;
    max-width: 50rem;
    box-sizing: border-box;

    // Makes the button appear in the middle of the animation
    transition: visibility 0s 0.125s;
    visibility: hidden;

    span {
      padding: 0.5em 1em;
      background: var(--color-section);
      border-radius: 6px;
    }
  }

  &.open{
    .wiki-excerpt-toggle::after { transform: rotate(90deg); }
    .styled-dtext {
      max-height: 10em;
    }
    .wiki-excerpt-readmore { visibility: visible; }
  }

  &.loading {
    h3::after, .styled-dtext { transition: none; }
  }
}
