@import "../base/005_vars.scss";

//body.mode-view {
//  background-color: $bg_color_view;
//}

body.mode-edit {
  background-color: $mode-view-background;
}

body.mode-tag-script {
  background-color: $mode-tagscript-background;
}

body.mode-add-fav {
  background-color: #FFA;
}

body.mode-remove-fav {
  background-color: #FFA;
}

body.mode-vote-up {
  background-color: #AFA;
}

body.mode-vote-down {
  background-color: #FAA;
}

body.mode-lock-rating {
  background-color: #AA3;
}

body.mode-lock-note {
  background-color: #3AA;
}

body.mode-approve {
  background-color: #48C;
}

body.mode-translation {
  background-color: #5CD;
}

body.mode-ban {
  background-color: #F33;
}
