div.related-tags {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  width: 100%;
  margin: 1em 0;

  background: themed("color-section-lighten-5");
  border-radius: $border-radius-half;

  .related-section {
    display: flex;
    flex-direction: row;
    flex: 0 1 10%;

    padding: 5px 10px;

    .related-title {
      padding: 0 5px;
      font-weight: bold;
    }
  }

  .related-items {
    display: flex;
    flex-direction: column;

    margin: 0 -5px;
    padding: 0 5px;

    .related-item {
      overflow-wrap: break-word;

      max-width: 15rem;
      padding: 0 5px;

      background: rgba(1, 1, 1, 0.15);

      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 2px;

      word-wrap: break-word;
    }
  }

  .tag-active {
    background: themed("color-active-tag");
    color: white;
  }
}

div.tag-preview-area {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

div.tag-preview {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-auto-rows: auto;
  align-content: start;

  width: 100%;
  height: 400px;
  max-height: 50vh;

  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 0.25em;
  padding: 2px;

  background: themed("color-section-lighten-5");

  border-radius: $border-radius-half;

  .tag-preview-tag {
    padding: 1px;
    padding-right: 5px;

    & .post-count {
      color: themed("color-text-muted");
    }

    & .implied {
      color: themed("palette-text-green");
    }

    & .empty,
    .underused,
    .invalid,
    .duplicate {
      color: themed("palette-text-red");
    }
  }
}

@media only screen and (orientation: portrait),
(max-width: 1100px) {
  .related-section {
    flex: 0 1 50%;
  }
}