.user-feedback {
  &-negative { color: palette("text-red"); }
  &-neutral { color: palette("text-grey"); }
  &-positive { color: palette("text-green"); }
}

div#c-user-feedbacks, div#c-moderator-dashboards .activity-container {
  .feedback-category {
    &-negative { background: palette("background-red"); }
    &-neutral { background: palette("background-grey"); }
    &-positive { background: palette("background-green"); }
  }
  
  blockquote {
    padding: 0.5em;
  }
}
