#c-wiki-pages #a-show,
#c-wiki-page-versions {
  .wiki-page-redirect {
    margin-left: 1em;
    color: var(--color-text-muted);
    & > i {
      display: inline-flex;
      margin-right: 0.25em;
    }
  }

  .wiki-redirect-history {
    color: var(--color-text-muted);
    margin-bottom: 1em;
  }

  #wiki-page-body {
    margin: 0.25em 0 0.5em;
  }

  #copy-tag {
    background: transparent;
    display: inline-flex;
    vertical-align: baseline;
    border-radius: 0;
    padding: 0.25rem;
    color: themed("color-link");

    &:hover, &:active {
      color: themed("color-link-hover");
    }

    svg {
      height: 1.25rem;
      width: 1.25rem;
      margin: -0.125rem;
    }
  }
}
