<div class="simple_form">
  <div class="input">
    <label>Set Name</label>
    <select id="add-to-set-id">
      <option>Loading...</option>
    </select>
  </div>

  <div class="input">
    <button id="add-to-set-submit">Add</button>
  </div>
</div>
