<div id="c-sets">
  <div id="a-new">
    <h2>New Set</h2>

    <div>
      <p>You can add posts to the set and assign maintainers on the next page.</p>
      <%= render "form" %>
    </div>
  </div>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  New Set
<% end %>
