<%# locals: (post_id: nil) %>

<section class="blacklist-ui"
  filters="0"
  collapsed="true"
  <% if post_id.present? %>
    post="<%= post_id %>"
  <% end %>
>
  <div class="blacklist-header">Blacklisted <span class="blacklisted-count"></span></div>
  <ul class="blacklist-filters"></ul>
  <span class="blacklist-footer">
    <button type="button" class="blacklist-toggle-all" aria-label="Toggle Filters">Disable All Filters</button>
    <div class="blacklist-help"><%= link_to "(help)", help_page_path(id: "blacklist") %></div>
  </span>
</section>
