<section id="blacklist-box" class="sidebar-blacklist">
  <h1>Blacklisted <span class="blacklist-help"><%= link_to "(blacklist help)", help_page_path(id: "blacklists") %></span></h1>
  <ul id="blacklist-list">
  </ul>
  <%= link_to "Disable all", "#", :id => "disable-all-blacklists", :style => "display: none;" %>
  <%= link_to "Re-enable all", "#", :id => "re-enable-all-blacklists", :style => "display: none;" %>
</section>
