<section id="blacklist-box" class="sidebar-blacklist">
  <div class="blacklist-header">
    <h1 id="blacklist-collapse" class="hidden">Blacklisted<span id="blacklisted-count"></span></h1>
    <div class="blacklist-help"><%= link_to "(help)", help_page_path(id: "blacklist") %></div>
  </div>
  <ul id="blacklist-list" style="display: none;">
  </ul>
  <%= link_to "Disable all", "#", :id => "disable-all-blacklists", :style => "display: none;" %>
  <%= link_to "Re-enable all", "#", :id => "re-enable-all-blacklists", :style => "display: none;" %>
</section>
