<div id="blacklist-box" class="sidebar-blacklist">
  <h1>Blacklisted (<%= link_to "help", help_page_path(id: "blacklists") %>)</h1>
  <ul id="blacklist-list">
  </ul>
  <%= link_to "Disable all", "#", :id => "disable-all-blacklists", :style => "display: none;" %>
  <%= link_to "Re-enable all", "#", :id => "re-enable-all-blacklists", :style => "display: none;" %>
</div>
