<div class="search-controls">
  <button id="search-fullscreen" class="st-button" title="Fullscreen mode">
    <%= svg_icon(:fullscreen) %>
  </button>
  <button id="search-sticky" class="st-button" title="Sticky searchbar">
    <%= svg_icon(:anchor) %>
  </button>
</div>
