<% if @ticket.content %>
    <tr>
      <td><span class="title">Reported Blip</span></td>
      <td>
        <%= link_to "Blip by #{@ticket.content.creator_name}", blip_path(@ticket.content) %>
      </td>
    </tr>
<% else %>
    <tr>
      <td><span class="title">Reported Blip</span></td>
      <td><span class="text-error">Blip has been deleted</span></td>
    </tr>
<% end %>
