<% if @ticket.content %>
  <tr>
    <td><span class="title">Reported Comment</span></td>
    <td>
      <%= link_to("Comment by #{@ticket.content.creator_name}", comment_path(@ticket.content)) %> on
      <%= link_to("post ##{@ticket.content.post_id}", post_path(@ticket.content.post_id)) %>
    </td>
  </tr>
<% else %>
  <tr>
    <td><span class="title">Reported Comment</span></td>
    <td><span class="text-error">Comment has been deleted</span></td>
  </tr>
<% end %>
