<% if @ticket.content %>
    <tr>
      <td><span class='title'>Reported Pool</span></td>
      <td><%= fast_link_to(@ticket.content.name, controller: "pools", id: @ticket.content.id) %></td>
    </tr>
<% end %>
