<% if @ticket.pool %>
    <tr>
      <td><span class='title'>Reported Pool</span></td>
      <td><%= fast_link_to(@ticket.pool.name, controller: "pools", id: @ticket.pool.id) %></td>
    </tr>
<% end %>