<tr>
  <td><span class='title'>Reported Post</span></td>
  <td>
    <% if @ticket.content %>
      <% component = PostThumbnailComponent.new(post: @ticket.content, stats: true, show_deleted: true, no_blacklist: true) %>
      <% if component.render? %>
        <%= render(component) %>
      <% else %>
        <%= link_to("Post ##{@ticket.disp_id}", post_path(id: @ticket.disp_id)) %>
      <% end %>
    <% else %>
      <em><%= link_to("Post ##{@ticket.disp_id}", post_path(id: @ticket.disp_id)) %> not found</em>
    <% end %>
  </td>
</tr>
