<% if @ticket.content %>
    <tr>
      <td><span class='title'>Reported Set</span></td>
      <td><%= fast_link_to(@ticket.content.name, post_set_path(id: @ticket.content.id)) %></td>
    </tr>
<% end %>
