<% if @ticket.content %>
    <tr>
      <td><span class='title'>Reported Set</span></td>
      <td><%= fast_link_to(@ticket.content.name, controller: "set", action: "show", id: @ticket.content.id) %></td>
    </tr>
<% end %>
