<tr>
  <td><span class='title'>Reported User</span></td>
  <% if @ticket.can_see_details?(current_user) %>
      <td><%= fast_link_to(User.find_by_id(@ticket.disp_id).name, controller: "user", action: "show", id: @ticket.disp_id) %></td>
  <% else %>
      <td><span style="cursor:help;" class="redtext" title="Due to privacy concerns, this information is confidential">Confidential</span></td>
  <% end %>
</tr>