<%- # forum_post %>
<%- # original_forum_post_id %>

<div class="list-of-forum-posts">
  <%= render partial: "forum_posts/forum_post", collection: forum_posts, locals: { original_forum_post_id: original_forum_post_id } %>
</div>
