<div id="c-forum-posts">
  <div id="a-search">
    <h1>Search Forum</h1>

    <%= render "search" %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>

<% content_for(:page_title) do %>
  Search Forum Posts
<% end %>
