<div>
  <h4>Reset Password</h4>

  <div class='section' style='width:370px;'>
    <%= form_tag(password_reset_admin_user_path(@user)) do %>
      <table class='nomargin'>
        <tr>
          <td width="15%"><label class="block" for="user_name">Username</label></td>
          <td width="85%"><%= text_field "user", "name", {value: @user ? @user.name : "", "data-autocomplete": 'user'} %></td>
        </tr>

        <tr>
          <td><label class="block" for="admin_password">Admin Password</label></td>
          <td><%= password_field "admin", "password", autocomplete: :off %></td>
        </tr>
      </table>

      <%= submit_tag "Reset" %>
    <% end %>
  </div>
</div>
