<% if hideable %>
  <a href="#" id="search-form-show-link" <% if show_on_load %>style="display:none;"<% end %>>Show Search Options</a>
  <a href="#" id="search-form-hide-link" <% unless show_on_load %>style="display:none;"<% end %>>Hide Search Options</a>
<% end %>
<div class="section" id="searchform" <% unless show_on_load %>style="display:none;"<% end %>>
  <%= form %>
</div>
