<%# locals: (post_id:, user:) %>

<div
  class="profile-avatar placeholder"
  data-id="<%= post_id %>"
  data-name="<%= user.name.presence || "<blank>" %>"
  data-initial="<%= (user.name.presence || "?")[0].capitalize %>"
>
  <span
    class="avatar-image"
    data-initial="<%= (user.name.presence || "?")[0].capitalize %>"
  ></span>
</div>
