<div id="c-post-events">
  <div id="a-index">
    <h1>Post Events</h1>

    <%= render "search" %>

    <div class="post-events-listing">
      <div class="post-events-listing-header">
        <span class="post-events-header-item event-post">Post</span>
        <span class="post-events-header-item event-type">Type</span>
        <span class="post-events-header-item event-user">User</span>
        <span class="post-events-header-item event-info">Info</span>
      </div>
      <div class="post-events-list-items">
        <%= render partial: "post_events/partials/show/post_event", collection: @events, as: :event %>
      </div>
    </div>
    <%= numbered_paginator(@events) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Events
<% end %>
