<% @flag = @appeal.content %>
<h4>You are reporting the following flag:</h4>
<div class="author"><%= link_to_user(@flag.creator) %></div>
<span class="date"><%= time_ago_in_words_tagged(@flag.created_at) %></span>
<br><br>
<%= render(PostThumbnailComponent.new(post: @flag.post, stats: true, show_deleted: true, no_blacklist: true)) %>
