name: Checks

on:
  push:
    branches:
      - master
      - build-*
  pull_request:
    branches:
      - master
      - build-*

permissions:
  contents: read

jobs:
  docker-build:
    runs-on: ubuntu-22.04

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        uses: docker/build-push-action@v4
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: e621

  rubocop:
    runs-on: ubuntu-22.04
    needs: docker-build

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/prepare-docker-image

      - name: Run Rubocop
        run: $DOCKER_RUN rubocop --format github

  eslint:
    runs-on: ubuntu-22.04
    needs: docker-build

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/prepare-docker-image

      - name: Run ESLint
        run: $DOCKER_RUN linter

  tests:
    runs-on: ubuntu-22.04
    needs:
      - docker-build
      - rubocop
      - eslint
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/prepare-docker-image

      - name: Create DB
        run: $DOCKER_RUN --entrypoint bin/rails tests db:create

      - name: Load DB Schema
        run: $DOCKER_RUN --entrypoint bin/rails tests db:schema:load

      - name: Run Tests
        run: $DOCKER_RUN tests --fail-fast

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: log/test.log
