@use "utility/theme";
@use "utility/palette";
@use "utility/std";

div.comments-for-post {
  div.notices {
    margin: 1em 0;
  }

  div.list-of-comments {
    article.comment {
      margin-bottom: 0.5rem;
    }

    article.comment.below-threshold:not([data-is-sticky="true"]) {
      opacity: 0.3;
    }

    article.comment.below-threshold:hover {
      opacity: 1.0;
    }
  }
}
