@use "utility/theme";
@use "utility/std";

.post-edit-title {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;

  button.st-button {
    margin-left: auto;
    span { font-size: 1.25rem; }
  }
}

@mixin post-edit-invalid-url {
  border: 1px solid theme.color("foreground");
  width: fit-content;
  margin-bottom: 1em;
  padding: 0.5em;
  font-weight: bold;
}

#post-edit-invalid-url-error {
  background-color: theme.color("danger-darken-10");
  @include post-edit-invalid-url;
}

#post-edit-invalid-url-warning {
  background-color: theme.color("warning-darken-5");
  @include post-edit-invalid-url;
}


#edit {
  .edit_post {
    background-color: theme.color("section");
    border-radius: 0.25rem;
    padding: .5rem;
    margin: 0 0 1rem;
    @include std.max-width;
  }

  .edit-submit {
    position: sticky;
    bottom: 0;

    background: theme.color("section");
    width: min-content;
    padding: 1rem 1rem 1rem 0.5rem;
    margin: 0;
  }

  textarea {
    min-height: 5rem;
    box-sizing: border-box;
  }

  div#tag-string-editor.pending {
    min-height: 5rem;
    background: theme.color("text-muted");
    border-radius: 2px;
    color: black;
    font-family: monospace;
    padding: 2px;
    box-sizing: border-box;
  }

  #post_rating_e:checked+label {
    background-color: theme.color("rating-explicit");
  }

  #post_rating_q:checked+label {
    background-color: theme.color("rating-questionable");
  }

  #post_rating_s:checked+label {
    background-color: theme.color("rating-safe");
  }
}