@use "utility/palette";
@use "utility/theme";
@use "utility/std";

#tags-container {
  max-width: 70em;

  div.header {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    @include std.max-width;

    label {
      grid-column: 1;
    }

    .options {
      grid-column: 2;
      justify-self: end;

      .count {
        text-decoration: italic;
        margin-left: 0.25em;
        padding-bottom: 0.2em;
        color: theme.color("text-muted");
      }

      #face {
        height: 1em;
        width: 1em;
        margin: -0.125em;

        &.face-frown { color: palette.text("red"); }
        &.face-meh { color: palette.text("yellow"); }
        &.face-smile { color: palette.text("green"); }
      }
    }
  }
}
