@use "utility/theme";
@use "utility/palette";
@use "utility/std";

div.tag-preview-area {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

div.tag-preview {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-auto-rows: auto;
  align-content: start;

  width: 100%;
  @include std.max-width;
  height: 400px;
  max-height: 50vh;

  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 0.25em;
  padding: 2px;

  background: theme.color("section-lighten-5");

  border-radius: 0.25rem;

  .tag-preview-tag {
    padding: 1px;
    padding-right: 5px;

    & .post-count {
      color: theme.color("text-muted");
    }

    & .implied {
      color: palette.text("green");
    }

    & .empty,
    .underused,
    .invalid,
    .duplicate,
    .new {
      color: palette.text("red");
    }
  }
}
