$base: Verdana, Geneva, sans-serif;

$lato: "Lato", $base;
$lexend: "Lexend", $base;
$monospace: monospace, monospace;
$openDyslexic: "OpenDyslexic", $base;
$openSans: "OpenSans", $base;
$comicSans: "Comic Sans MS", "Comic Sans", cursive;
$roboto: "Roboto", $base;
