@use "sass:map";

// Standard variables for typography and UI elements

@mixin padding { padding: 0.5rem; }
@mixin padding-lr { padding: 0 0.5rem; }
@mixin padding-tb { padding: 0.5rem 0; }
@mixin padding-yx { padding: 0.5rem 0.5rem; }

@mixin padding-asy { padding: 0.5rem 0.25rem; }


@mixin radius { border-radius: 0.25rem; }
@mixin radius-t { border-radius: 0.25rem 0.25rem 0 0; }
@mixin radius-b { border-radius: 0 0 0.25rem 0.25rem; }
@mixin radius-l { border-radius: 0.25rem 0 0 0.25rem; }
@mixin radius-r { border-radius: 0 0.25rem 0.25rem 0; }

@mixin radius-tl { border-radius: 0.25rem 0 0 0; }
@mixin radius-tr { border-radius: 0 0.25rem 0 0; }
@mixin radius-bl { border-radius: 0 0 0.25rem 0; }
@mixin radius-br { border-radius: 0 0 0 0.25rem; }

@mixin radius-lt { border-radius: 0.25rem 0 0 0; }
@mixin radius-rt { border-radius: 0 0.25rem 0 0; }
@mixin radius-lb { border-radius: 0 0 0.25rem 0; }
@mixin radius-rb { border-radius: 0 0 0 0.25rem; }

@mixin max-width() {
  max-width: 50rem;
  box-sizing: border-box;
}
