<style>
  div#april-fools {
    padding: 0 !important;
    border: 0 !important;
  }
  div#april-fools div {
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.5);
  }
</style>

<div id="april-fools" class="site-notice">
  <span>
    <div class="initial" style="display: none;">
      <h1>Top e621 engineers have come up with the perfect site theme. Would you like to give it a try?</h1>
      <button id="april-fools-yes" class="toggle-button">Yes, why do you even ask?</button><br><br>
      <button id="april-fools-no" class="toggle-button">No, please don't bother me!</button>
    </div>
    <div class="switch-message" style="display: none;">
      <h1>You lasted <span class="usage-duration-on-load"></span><br>
      <span class="duration-message"></span></h1><br>
      <button style="display:none;" id="april-fools-switch">Who would think this is a good idea? Just make it stop!</button><br>
    </div>
    <div class="opt-out" style="display: none;">
      <h1>Too bad, we put some <i>real</i> effort into this april fools joke.</h1>
      <button class="april-fools-reset">Well, in that case I want to start over.</button><br><br>
      <button id="april-fools-dont-bother-me-again">I said to leave me alone, I'm not here for jokes.</button>
      </h1>
    </div>
    <div class="opt-out-again" style="display: none;">
      <h1>Oh, alright. We'll leave you alone.<br>
      Scroll to the bottom and click "Themes / Gestures" to check out all the themes we have!
      </h1>
    </div>
    <div class="rollback-theme" style="display: none;">
      <h1>We're totally with you, it's quite horrendous to look at.<br>
      We do have some more usable themes, scroll to the bottom and click "Themes / Gestures" to check them out.<br>
      Your eyes won't burn out looking at them, we promise.<br>
      Happy april fools, you lasted a whole <span class="april-fools-duration-end"></span>!
      </h1>
    </div>
  </span>
</div>
