<style>
  div#april-fools {
    padding: 0 !important;
    border: 0 !important;
  }
  div#april-fools div {
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.5);
  }
</style>

<div id="april-fools" class="site-notice">
  <span>
    <div class="switch-message" style="display: none;">
      <h1>The joke is over, leave while you still can!</span></h1>
      <button id="april-fools-switch">Ok ):</button><br>
    </div>
  </span>
</div>
